{% include 'header.html.twig' %}

<h2>{{ translations.about }}</h2>

<div class="about">
    {{ translations.about_text|raw }}
</div>

<div>
    <img src="/images/logo-vidrycom.svg" height="100">
</div>

<hr>

<div id="permissions" class="permissions">
    <h4>{{ translations.permissions_title }}</h4>
    {{ translations.permissions_body|raw }}
</div>

<hr>

<div id="credit" class="credit">
    <h4>{{ translations.credits_title }}</h4>
    {{ translations.credits_body|raw }}
</div>

{% include 'footer.html.twig' %}