{% include 'header.html.twig' %}

<div class="photo-container">
	{% if years is defined %}
		{% for year in years %}
			{% set name = year.getProperty('name') %}
			
			{% if name matches '/^\\d+$/' %}
				{% set fileParts = year.getProperty('cover')|split('.') %}
				{% set thumb_path = '/photo/' ~ fileParts[0] ~ '/' ~ fileParts[1] ~ '/thumb' %}
				<button title="{{ year.getProperty('name') }}"
						class="year"
						style="background-image: url('{{ thumb_path }}')"
						data-year="{{ name }}">
					<span class="label">{{ name }}</span>
				</button>
			{% endif %}
		{% endfor %}
	{% elseif months is defined %}
		<div class="pagination row">
			<div class="col col-2 text-left no-padding-left">
				<a class="slideshow" href="/slideshow/{{ year }}"
				   data-toggle="tooltip" data-placement="bottom" title="{{ translations.slideshow }}">
					<span class="fas fa-images"></span>
				</a>
			</div>
			<div class="col col-8">
				<div>
					<button class="btn-light btn-navigation-gallery"
							data-year="{{ previous_year }}"
							data-toggle="tooltip"
							data-placement="top"
							title="{{ previous_year }}">
						<span class="fa fa-caret-left"></span>
					</button>
					<button class="btn-light btn-navigation-gallery"
							data-year="{{ next_year }}"
							data-toggle="tooltip"
							data-placement="top"
							title="{{ next_year }}">
						<span class="fa fa-caret-right"></span>
					</button>
				</div>
			</div>
			<div class="col col-2">
			</div>
		</div>
		{% for i, month in months %}
			{% if (year == 1995 and i < 6) or (year >= current_year and i > current_month) %}
				{% set disabled = ' disabled="disabled"' %}
				{% set className = ' disabled' %}
			{% else %}
				{% set disabled = '' %}
				{% set className = '' %}
			{% endif %}

			{% if i < 10 %}
				{% set imageName = year ~ '0' ~ i %}
			{% else %}
				{% set imageName = year ~  i %}
			{% endif %}

			{% set img_path = '/images/months/' ~ imageName ~ '.png' %}
			<button title="{{ month }} {{ year }}"
					class="month{{ className }}"
					style="background-image: url('{{ img_path }}')"
					data-year="{{ year }}"
					data-month="{{ i }}"{{ disabled }}>
				<div class="overlay"></div>
				<span class="label">{{ month }}</span>
			</button>
		{% endfor %}
	{% endif %}
</div>
<div class="clear-both"></div>

{% include 'footer.html.twig' %}
