{% include 'header.html.twig' %}

<h2>Contact</h2>

{% if success is defined %}
    <div class="alert alert-success">
        Message sent. Thanks.
    </div>
{% endif %}

{% if errors is defined %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<script src="js/hcaptcha.js" async defer></script>
<form method="post" action="/send" class="apod-data">
    <div class="row">
        <div class="col-md-6">
            <div class="md-form mb-0">
                <input type="text" id="name" name="name" class="form-control">
                <label for="name" class="">Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="md-form mb-0">
                <input type="text" id="email" name="email" class="form-control">
                <label for="email" class="">Email</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="md-form mb-0">
                <input type="text" id="subject" name="subject" class="form-control">
                <label for="subject" class="">Subject</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="md-form">
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                <label for="message">Message</label>
            </div>
        </div>
    </div>

    <div class="h-captcha" data-sitekey="{{ h_captcha.KEY }}"></div>

    <div class="col-md-4">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
    </div>
</form>

{% include 'footer.html.twig' %}