        </div>
        <div class="footer clear-both">
            <div class="row">
                <div class="col-6 social justify-content-center align-self-center">
					<div class="icon first">
						<a rel="me" href="https://canada.masto.host/@apod" target="_blank">
							<img src="/images/mastodon.svg" title="Mastodon" alt="Mastodon">
						</a>
					</div>
					<div class="icon text-center">
						<a href="https://www.tumblr.com/apodvidryca" target="_blank">
							<img src="/images/tumblr.svg" title="Tumblr" alt="Tumblr">
						</a>
					</div>
					<div class="icon text-center">
						<a href="https://twitter.com/JeromeVidry" target="_blank">
							<img src="/images/twitter.svg" title="Twitter" alt="Tumblr">
						</a>
					</div>
					<div class="icon text-center">
						<a href="httpshttps://bsky.app/profile/messier79.bsky.social" target="_blank">
							<img src="/images/bluesky.svg" title="Twitter" alt="Tumblr">
						</a>
					</div>
					<!--
					<div class="icon">
						<a href="https://www.reddit.com/r/apodvidryca/" target="_blank">
							<img src="/images/reddit.svg" alt="Reddit">
						</a>
					</div>
					-->
                </div>
                <div class="col-6 vidry-com">
                    <a href="https://www.vidry.com" title="vidry.com" target="_blank"><img src="/images/logo-vidrycom.svg" alt="vidry.com"></a>
                    <a href="https://www.vidry.com" title="vidry.com" target="_blank">Vidry.com</a>
                </div>
			</div>
		</div>
	</div>
</body>
</html>
