{% include 'header.html.twig' %}

{% if lang == 'fr' and photo.getAttribute('title_fr') != '' %}
    {% set title = photo.getAttribute('title_fr') %}
{% else %}
    {% set title = photo.getAttribute('title_en') %}
{% endif %}

{% set previousLink = previous_date|date('F Y') %}
{% set nextLink = next_date|date('F Y') %}

<div class="photo-container">
    <div class="pagination row">
        <div class="col col-2 text-left no-padding-left">
            <a class="slideshow" href="/slideshow/{{ year }}/{{ month }}"
               data-toggle="tooltip" data-placement="bottom" title="{{ translations.slideshow }}">
                <span class="fas fa-images"></span>
            </a>
        </div>
        <div class="col col-8">
            <div>
                <button class="btn-light btn-navigation-gallery"
                        data-month="{{ previous_month }}"
                        data-year="{{ previous_year }}"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ previousLink }}">
                    <span class="fa fa-caret-left"></span>
                </button>
                <button class="btn-light btn-navigation-gallery"
                        data-month="{{ next_month }}"
                        data-year="{{ next_year }}"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ nextLink }}">
                    <span class="fa fa-caret-right"></span>
                </button>
            </div>
        </div>
        <div class="col col-2">
        </div>
    </div>

    {% if photos|length == 0 %}
        <div class="alert alert-info">
            No photo for that month. The adventure starts <a href="/gallery/1995/6">there</a>.
        </div>
    {% endif %}
    {% if first_day_of_week > 0 %}
        {% for i in 1..first_day_of_week %}
            <div class="thumb mobile-hide">
            </div>
        {% endfor %}
    {% endif %}

    {% if photos|length > 0 %}
        {% for day in 1..limits.first %}
            {% if day < limits.first %}
                {% if day < 10 %}
                    {% set day = '0' ~ day %}
                {% endif %}
                <div class="thumb empty"
                     style="background-image: url('/photo/empty.png')">
                    <div class="date">{{ day }}</div>
                </div>
            {% endif %}
        {% endfor %}

        {% for photo in photos %}
            {% set fileParts = photo.getProperty('filename')|split('.') %}
            {% set thumb_path = '/photo/' ~ fileParts[0] ~ '/' ~ fileParts[1] ~ '/thumb' %}

            {% if photo.getProperty('video') != '' %}
                {% set background = '/images/play.png' %}
                {% set class = ' video' %}
            {% else %}
                {% set background = thumb_path %}
                {% set class = '' %}
            {% endif %}

            <div class="thumb{{ class }}"
                 style="background-image: url('{{ background }}')"
                 data-url="/day/{{ fileParts[0] }}"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="{{ photo.getProperty('title_' ~ lang) }}">
                <div class="date">
                    {{ fileParts[0]|slice(4, 2) }}
                </div>
            </div>
        {% endfor %}

        {% for day in limits.last..days_in_month %}
            {% if day > limits.last %}
                {% if day < 10 %}
                    {% set day = '0' ~ day %}
                {% endif %}
                <div class="thumb empty"
                     style="background-image: url('/photo/empty.png')">
                    <div class="date">{{ day }}</div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for day in 1..days_in_month %}
            {% if day < 10 %}
                {% set day = '0' ~ day %}
            {% endif %}
            <div class="thumb empty"
                 style="background-image: url('/photo/empty.png')">
                <div class="date">{{ day }}</div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="clear-both"></div>

{% include 'footer.html.twig' %}
