<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Cache-control" content="public" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="/js/slideshow.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-datepicker3.css"/>
	<link href="/css/fontawesome/css/fontawesome.css" rel="stylesheet">
	<link href="/css/fontawesome/css/brands.css" rel="stylesheet">
	<link href="/css/fontawesome/css/solid.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/images/favicon.png" type="image/png">
</head>
<body>
	<div class="container">
		<div class="content">
