<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% if photo is defined %}
        {% if photo.getProperty('title_' ~ lang) == '' %}
            {% set description = photo.getProperty('title_en') ~ ' - ' ~ date_str %}
        {% else %}
            {% set description = photo.getProperty('title_' ~ lang) ~ ' - ' ~ date_str %}
        {% endif %}
        {% set fileParts = photo.getProperty('filename')|split('.') %}
        {% set url = 'https://apod.vidry.ca/day/' ~ fileParts[0] %}
        {% set thumb_path = 'https://apod.vidry.ca/photo/' ~ fileParts[0] ~ '/' ~ fileParts[1] %}
    {% else %}
        {% if page is defined and page == 'search' %}
            {% set description = translations.search ~ ' - ' ~  translations.siteTitle %}
        {% elseif page is defined and page == 'scroll' %}
            {% set description = translations.siteTitle %}
        {% elseif page is defined and page == 'mosaic' %}
            {% set description = year ~ ' - ' ~  translations.siteTitle %}
        {% elseif years is defined %}
            {% set description = translations.years ~ ' - ' ~  translations.siteTitle %}
        {% elseif months is defined %}
            {% set description = year ~ ' - ' ~  translations.siteTitle %}
        {% elseif photos is defined %}
            {% set description = month_str ~ ' ' ~ year ~ ' - ' ~  translations.siteTitle %}
        {% else %}
            {% set description = translations.siteTitle %}
        {% endif %}
        {% set url = 'https://apod.vidry.ca/' %}
        {% set thumb_path = '' %}
    {% endif %}
    <title>{{ description }}</title>
    <meta name="description" content="{{ translations.siteTitle }} - {{ translations.siteDescription }}"/>
    <meta property="og:title" content="{{ description }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ translations.siteTitle }} - {{ translations.siteDescription }}"/>
    <meta property="og:url" content="{{ url }}"/>
    {% if thumb_path != '' %}
        <meta property="og:image" content="{{ thumb_path }}"/>
        <meta property="og:image:secure_url" content="{{ thumb_path }}"/>
    {% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@JeromeVidry">
    <meta name="twitter:title" content="{{ description }}">
    <meta name="twitter:description" content="{{ translations.siteTitle }} - {{ translations.siteDescription }}">
    {% if thumb_path != '' %}
        <meta property="twitter:image" content="{{ thumb_path }}">
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/mdbootstrap/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/mdbootstrap/js/mdb.js"></script>
    <script src="/js/ekko-lightbox.min.js"></script>
    <script src="/js/bootstrap-img-lightbox-tooltip.js"></script>
    <script src="/js/jquery.richtext.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/photos.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/css/fontawesome/css/brands.css">
    <link rel="stylesheet" href="/css/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/css/ekko-lightbox.css">
    <link rel="stylesheet" href="/js/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/png">

    <script>
        var lang = '{{ lang }}';
    </script>

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//matomo.vidry.ca/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '4']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>
<body{% if sticky_navbar is defined %} class="padding-top"{% endif %}>
<div class="container">
    <div class="header">
        <div class="menu">
            {% include 'menu.html.twig' %}
        </div>
    </div>
    <div class="content">
