{% include 'header-light.html.twig' %}

<form method="post" action="/process-login" class="login">
	<div class="row">
		<div class="input-group mb-3">
			<input type="text" name="username" value="" class="form-control">
		</div>
	</div>

	<div class="row">
		<div class="input-group mb-3">
			<input type="password" name="password" class="form-control">
			<div class="input-group-append">
				<button type="submit" class="btn btn-outline-primary"
						data-toggle="tooltip" data-placement="top" title="Login">
					<span class="fa fa-sign-in-alt"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="row remember-me">
		<div class="checkbox">
			<input type="checkbox" name="remember_me" id="remember_me" value="1" class="form-control">
		</div>
		<div class="label">
			<label for="remember_me">Remember me</label>
		</div>
	</div>
</form>

{% include 'footer-light.html.twig' %}
