<nav class="navbar navbar-expand-sm navbar-dark no-mobile{% if sticky_navbar is defined %} sticky"{% endif %}">
    <div class="container">
		<div>
			<a class="navbar-brand" href="/"
			   data-toggle="tooltip" data-placement="bottom" title="{{ translations.home }}">
				<span class="fas fa-rocket"></span>
			</a>
			<a class="navbar-brand" href="/calendar"
			   data-toggle="tooltip" data-placement="bottom" title="{{ translations.calendar }}">
				<span class="fas fa-calendar-alt"></span>
			</a>
			<a class="navbar-brand" href="/day/random"
			   data-toggle="tooltip" data-placement="bottom" title="{{ translations.random }}">
				<span class="fas fa-random"></span>
			</a>
			<a class="navbar-brand" href="/search-form"
			   data-toggle="tooltip" data-placement="bottom" title="{{ translations.search }}">
				<span class="fas fa-search"></span>
			</a>
			<a class="navbar-brand" href="/slideshow/random"
			   data-toggle="tooltip" data-placement="bottom" title="{{ translations.slideshow }}">
				<span class="fas fa-images"></span>
			</a>
			<a class="navbar-brand" href="/about"
			   data-toggle="tooltip" data-placement="bottom" title="{{ translations.about }}">
				<span class="fas fa-question"></span>
			</a>
			{% if is_admin %}
				<a class="navbar-brand" href="/admin"
				   data-toggle="tooltip" data-placement="bottom" title="Admin">
					<span class="fas fa-cog"></span>
				</a>
			{% endif %}

			{% if lang == 'fr' %}
				<a class="navbar-brand" href="/switch-lang/en{% if date is defined %}/{{ date|date('ymd') }}{% endif %}">
					<img src="/images/en.png" alt="English" class="lang">
				</a>
			{% else %}
				<a class="navbar-brand" href="/switch-lang/fr{% if date is defined %}/{{ date|date('ymd') }}{% endif %}">
					<img src="/images/fr.png" alt="Français" class="lang">
				</a>
			{% endif %}
		</div>
		<div id="navbarText">
			{% if year is defined and month_str is not defined %}
				{{ year }}
			{% elseif month_str is defined %}
				{{ month_str }} {{ year }}
			{% elseif date_str is defined and date_str != '' %}
				{{ date_str }}
			{% else %}
				APOD
			{% endif %}
		</div>
	</div>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark mobile-only{% if sticky_navbar is defined %} sticky"{% endif %}">
	<!-- Collapse button -->
	<button class="navbar-toggler toggler-example"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent1"
			aria-controls="navbarSupportedContent1"
			aria-expanded="false"
			aria-label="Toggle navigation">
		<span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
	</button>

	<div id="navbarText">
		{% if year is defined and month_str is not defined %}
			{{ year }}
		{% elseif month_str is defined %}
			{{ month_str }} {{ year }}
		{% elseif date_str is defined and date_str != '' %}
			{{ date_str }}
		{% else %}
			APOD
		{% endif %}
	</div>

	<div class="collapse navbar-collapse" id="navbarSupportedContent1">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item{% if page is defined and page == 'index' %} active{% endif %}">
				<a class="nav-link" href="/">
					<span class="fas fa-rocket"></span>
					{{ translations.home }}
				</a>
			</li>
			<li class="nav-item{% if page is defined and page == 'calendar' %} active{% endif %}">
				<a class="nav-link" href="/calendar">
					<span class="fas fa-calendar-alt"></span>
					{{ translations.calendar }}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/day/random">
					<span class="fas fa-random"></span>
					{{ translations.random }}
				</a>
			</li>
			<li class="nav-item{% if page is defined and page == 'search' %} active{% endif %}">
				<a class="nav-link" href="/search-form">
					<span class="fas fa-search"></span>
					{{ translations.search }}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/slideshow/random">
					<span class="fas fa-images"></span>
					{{ translations.slideshow }}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about">
					<span class="fas fa-question"></span>
					{{ translations.about }}
				</a>
			</li>
			<li class="nav-item">
				{% if lang == 'fr' %}
					<a class="nav-link" href="/switch-lang/en{% if date is defined %}/{{ date|date('ymd') }}{% endif %}">
						<img src="/images/en.png" alt="English" class="lang">
						English
					</a>
				{% else %}
					<a class="nav-link" href="/switch-lang/fr{% if date is defined %}/{{ date|date('ymd') }}{% endif %}">
						<img src="/images/fr.png" alt="English" class="lang">
						Français
					</a>
				{% endif %}
			</li>
		</ul>
	</div>
</nav>