{% include 'header.html.twig' %}

{% set currentYear = 'today'|date('Y') %}
{% set firstDay = photos[0].getProperty('date')|date('w') %}

<div class="form-container">
	<div class="input-group w-100">
		<button class="btn btn-outline-primary dropdown-toggle w-100"
				type="button"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false">
			Gallery for {{ year }}
		</button>
		<div class="dropdown-menu w-responsive">
			{% for i in currentYear..1995 %}
				<a class="dropdown-item" href="/mosaic/{{ i }}">{{ i }}</a>
			{% endfor %}
		</div>
	</div>
</div>
<div class="photo-container">
	{% if year >= 1995 and year <= 'today'|date('Y') %}
		{% for i in 0..(firstDay - 1) %}
			<div class="thumb mosaic">
				<div class="date">
				</div>
			</div>
		{% endfor %}
		{% for photo in photos %}
			{% set fileParts = photo.getProperty('filename')|split('.') %}
			{% set thumb_path = '/photo/' ~ fileParts[0] ~ '/' ~ fileParts[1] ~ '/thumb' %}

			{% if photo.getProperty('video') != '' %}
				{% set background = '/images/play.png' %}
				{% set class = ' video' %}
			{% else %}
				{% set background = thumb_path %}
				{% set class = '' %}
			{% endif %}

			<div class="thumb mosaic{{ class }}"
				 style="background-image: url('{{ background }}')"
				 data-url="/day/{{ fileParts[0] }}"
				 data-toggle="tooltip"
				 data-placement="bottom"
				 title="{{ photo.getProperty('date')|date('j M') }} - {{ photo.getProperty('title_' ~ lang) }}">
				<div class="date">
					{{ fileParts[0]|slice(4, 2) }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
<div class="clear-both"></div>

{% include 'footer.html.twig' %}
