{% set show_first_last = true %}
{% set show_nb_items = true %}
{# the number of first and last pages to be displayed #}
{% set extreme_pages_limit = 3 %}

{# the number of pages that are displayed around the active page #}
{% set nb_pages_around = 2 %}

<nav aria-label="Navigation">
	<ul class="pagination">
		{% if current_page > 1 %}
			<li class="page-item">
				<a href="{{ url }}/{{ previous_page }}" class="page-link">
					<span class="fa fa-chevron-left"></span>
				</a>
			</li>

			{% for i in range(1, extreme_pages_limit) %}
				{% if ( i < current_page - nb_pages_around ) %}
					<li class="page-item">
						<a href="{{ url }}/{{ i }}" class="page-link">{{ i }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if extreme_pages_limit + 1 < current_page - nb_pages_around %}
				<li class="page-item disabled">
					<span class="page-link">...</span>
				</li>
			{% endif %}

			{% for i in range(current_page-nb_pages_around, current_page-1) %}
				{% if ( i > 0 ) %}
					<li class="page-item">
						<a href="{{ url }}/{{ i }}" class="page-link">{{ i }}</a>
					</li>
				{% endif %}
			{% endfor %}
		{% elseif show_first_last %}
			<span class="page-item disabled">
				<span class="fa fa-chevron-left page-link"></span>
			</span>
		{% endif %}

		<li class="page-item active">
			<a href="{{ url }}/{{ current_page }}" class="page-link">{{ current_page }}</a>
		</li>

		{% if current_page < nb_pages %}
			{% for i in range(current_page+1, current_page + nb_pages_around) %}
				{% if ( i <= nb_pages ) %}
					<li class="page-item">
						<a href="{{ url }}/{{ i }}" class="page-link">{{ i }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if  (nb_pages - extreme_pages_limit) > (current_page + nb_pages_around) %}
				<li class="page-item disabled">
					<span class="page-link">...</span>
				</li>
			{% endif %}

			{% for i in range(nb_pages - extreme_pages_limit+1, nb_pages) %}
				{% if ( i > current_page + nb_pages_around ) %}
					<li class="page-item">
						<a href="{{ url }}/{{ i }}" class="page-link">{{ i }}</a>
					</li>
				{% endif %}
			{% endfor %}

			<li class="page-item">
				<a href="{{ url }}/{{ next_page }}" class="page-link">
					<span class="fa fa-chevron-right"></span>
				</a>
			</li>
		{% elseif show_first_last %}
			<li class="page-item disabled">
				<span class="fa fa-chevron-right page-link"></span>
			</li>
		{% endif %}
		{% if show_nb_items %}
			<li class="page-item">
				<span class="page-link">
					{{ nb_items }} items
				</span>
			</li>
		{% endif %}
	</ul>
</nav>
