{% include 'header-light.html.twig' %}

<div class="row">
	<div class="col col-md-12">
		<div class="alert alert-danger">
			Permission Denied
		</div>
		<button type="button" class="btn btn-primary btn-home">
			Back to Home
		</button>
	</div>
</div>

{% include 'footer-light.html.twig' %}
