{% include 'header.html.twig' %}

{% set title = photo.getProperty('title_' ~ lang) %}
{% set description = photo.getProperty('description_' ~ lang) %}

{% if title == '' and photo.getProperty('title_en') != '' %}
	{% set title = photo.getProperty('title_en') %}
{% endif %}

{% if description == '' and photo.getProperty('description_en') != '' %}
	{% set description = photo.getProperty('description_en') %}
{% endif %}

{% if title == '' and photo.getProperty('title_fr') != '' %}
	{% set title = photo.getProperty('title_fr') %}
	{% set description = photo.getProperty('description_fr') %}
{% endif %}

{% if lang == 'fr' %}
	{% set previousDayStr = previous_day|date('j F Y') %}
	{% set nextDayStr = next_day|date('j F Y') %}
{% else %}
	{% set previousDayStr = previous_day|date('F j, Y') %}
	{% set nextDayStr = next_day|date('F j, Y') %}
{% endif %}

<div class="photo-container">
	<div class="pagination">
		<div>
			<button class="btn-light btn-previous"
					data-previous="{{ previous_day|date('ymd') }}"
					data-toggle="tooltip"
					data-placement="top"
					title="{{ previousDayStr }}">
				<span class="fa fa-caret-left"></span>
			</button>
			<button class="btn-light btn-next"
					data-next="{{ next_day|date('ymd') }}"
					data-toggle="tooltip"
					data-placement="top"
					title="{{ nextDayStr }}">
				<span class="fa fa-caret-right"></span>
			</button>
		</div>
	</div>
	{% if not_found is defined %}
		<div class="photo">
			<img src="/images/default.png" alt="Photo" class="photo">
		</div>
		<div class="title">
			{{ translations.notFoundTitle }}
		</div>
		<div class="description">
			{{ translations.notFoundDescription }}
		</div>
	{% else %}
		{% if video is defined %}
				<div class="video">
					{% if video matches '/^\\d+$/' %}
						<iframe title="vimeo-player" src="https://player.vimeo.com/video/{{ video }}"
							frameborder="0"
							allowfullscreen>
						</iframe>
					{% else %}
						<iframe src="https://www.youtube.com/embed/{{ video }}"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen>
						</iframe>
					{% endif %}
				</div>
		{% else %}
			{% if photo.getProperty('image_url') != null %}
				{% set link = photo.getProperty('image_url') %}
			{% elseif has_cdn is defined and filename|first != '9' %}
				{% set link = cdn_url ~ '20' ~ filename|slice(0, 2) ~ '/' ~ filename ~ '.' ~ extension %}
			{% else %}
				{% set link = base_url ~ 'photo/' ~ filename ~ '/' ~ extension %}
			{% endif %}
			<div class="photo">
				<a href="{{ link }}" data-toggle="lightbox" data-type="image">
					<img src="/photo/{{ filename }}/{{ extension }}" alt="{{ title }}" class="photo">
				</a>
			</div>
		{% endif %}

		<div class="title">
			{{ title }}
			<div class="share-buttons">
				<button class="btn btn-social btn-light btn-download"
						type="button"
						title="{{ translations.download }}"
						data-id="{{ photo.getId() }}">
					<i class="fa fa-download"></i>
				</button>
			</div>
		</div>
		<div class="credits">
			{{ photo.getProperty('credits')|raw }}
		</div>
		<div class="description">
			{{ description|raw }}
		</div>
		<div class="social">
			{% set is_photo = true %}
			{% include 'social-icons.html.twig' %}
		</div>
		<hr>

		<div class="tag-group">
			<label>{{ translations.tag }}s</label>
			<div class="search-buttons">
				{% for tag in tags %}
					<button type="button" class="btn btn-search btn-tag selected" data-id="{{ tag.id }}">
						{{ tag.tag }}
					</button>
				{% endfor %}
			</div>
		</div>
		<hr>

		<div class="comments">
			<label>{{ translations.comments }} ({{ comments|length }})</label>
			<div class="list">
				{% for comment in comments %}
					<div class="comment">
						<div class="creation-date float-right">
							{% if lang == 'fr' %}
								{{ comment.getProperty('updated_at')|date('d F Y - H:i') }}
							{% else %}
								{{ comment.getProperty('updated_at')|date('F d, Y - H:i') }}
							{% endif %}
						</div>
						<div class="username">
							<a href="/search-by-username/{{ comment.getProperty('username') }}">
								{{ comment.getProperty('username') }}
							</a>
						</div>
						<div class="content">
							{{ comment.getProperty('comment') }}
						</div>
					</div>
				{% endfor %}
				<button class="add-comment btn btn-white">
					{{ translations.addComment }}
				</button>
			</div>
			<div id="commentForm" class="form hidden">
				<div class="comment-error alert alert-danger hidden">
					{{ translations.commentError }}
				</div>
				<form method="post" action="/save-comment">
					<input type="hidden" name="photo_id" id="photo_id" value="{{ photo.getId() }}">

					<div class="form-group">
						<label for="tag_en">{{ translations.username }}</label>
						<input type="text"
							   name="username"
							   id="username"
							   value=""
							   class="form-control">
					</div>

					<div class="form-group">
						<label for="tag_en">{{ translations.comment }}</label>
						<textarea
							   name="comment"
							   id="comment"
							   class="form-control"></textarea>

						<div>
							<button type="submit" class="btn btn-white btn-save-comment">
								{{ translations.save }}
							</button>
							<button type="button" class="cancel-comment btn btn-danger">
								{{ translations.cancel }}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<hr>

        <div class="bottom-navigation">
            <ul class="left">
				<li>
					<a href="https://apod.nasa.gov/apod/ap{{ date|date('ymd') }}.html" title="Source" target="_blank">
						Source
					</a>
				</li>
				<li>-</li>
				<li>
					<a href="/about#permissions" title="{{ translations.permissions_title }}">
						{{ translations.permissions_title }}
					</a>
				</li>
				<li>-</li>
				<li>
					<a href="/about#credits" title="{{ translations.credits_title }}">
						{{ translations.credits_title }}
					</a>
				</li>
				<li>-</li>
				<li>
					<a href="/tools/export-form" title="{{ translations.export }}">
						{{ translations.export }}
					</a>
				</li>
				<li>-</li>
				<li>
					<a href="/contact" title="Contact">
						Contact
					</a>
				</li>
            </ul>
			<ul class="right">
				<li>
					<button class="btn btn-social btn-light btn-rss">
						<i class="fa fa-rss"></i>
					</button>
				</li>
			</ul>
        </div>
	{% endif %}
</div>

<div id="commentContainer" class="comment hidden">
	<div class="creation-date float-right">
	</div>
	<div class="username">
	</div>
	<div class="content">
	</div>
</div>

{% include 'footer.html.twig' %}
