<?xml version='1.0' encoding='UTF-8'?>
<rss version='2.0'>
    <channel>

        <title>{{ translations.siteTitle }} - vidry.ca</title>
        <link>https://apod.vidry.ca</link>
        <description>{{ translations.siteDescription }}</description>

        {% if lang == 'fr' %}
        <language>fr-fr</language>
        {% else %}
            <language>en-us</language>
        {% endif %}

        {% for page in pages %}
        <item>
            <link>{{ base_url }}{{ page.getProperty('url') }}</link>
            <title>{{ page.getProperty('title_' ~ lang) }}</title>
            <description>{{ page.getProperty('description_' ~ lang)|striptags }}</description>
        </item>
        {% endfor %}
    </channel>
</rss>
