{% set sticky_navbar = true %}
{% include 'header.html.twig' %}

{% set latestId = null %}

<script src="/js/scroll.js"></script>
<div id="articleTemplate" class="hidden">
	<div class="col-12">
		<div class="scroll--class--">
			<div class="thumb"
				 style="background-image: url('--background--')"
				 data-url="--url--">
			</div>
			<div class="details">
				<div class="row">
					<div class="col">
						<div class="date">--date--</div>
						--title--
						<button type="button"
								id="btnCollapse_--id--"
								class="btn-light float-right btn-expand-description d-flex"
								data-toggle="collapse"
								data-target="#description_--id--"
								aria-expanded="false"
								aria-controls="collapseDescription">
							<span class="fa fa-arrow-down"></span>
						</button>
					</div>
				</div>
				<div class="row">
					<div id="description_--id--" class="col description collapse">
						--description--
					</div>
				</div>
				<hr>
				{% include 'social-icons.html.twig' %}
			</div>
		</div>
	</div>
</div>
<div class="form-container">
	<div id="articles" class="row">
		{% for photo in photos %}
			{% set latestId = photo.id %}
			<script>
				photo = {
					id: '{{ photo.id }}',
					background: '{{ photo.background }}',
					class: '{{ photo.class }}',
					url: '{{ base_url }}{{ photo.url }}',
					date: '{{ photo.date }}',
					title: '{{ photo.title }}',
					description: '{{ photo.description }}'
				}
				addScrollPhoto(photo)
			</script>
		{% endfor %}
	</div>
</div>
<div class="clear-both"></div>
<input type="hidden" id="latestId" value="{{ latestId }}">

{% include 'footer.html.twig' %}
