{% include 'header.html.twig' %}

{% set nb_pages = paging.nbPages %}
{% set nb_items = paging.nbItems %}
{% set previous_page = paging.previousPage %}
{% set next_page = paging.nextPage %}

<div id="desktopSearchResult" class="admin">
	<h2>{{ paging.nbItems }} Photos found</h2>
	
	<div>
		<ul>
			{% if search_params.year is defined %}
				<li>
					{{ search_params.year }}
					
					{% if search_params.month is defined %}
						{{ search_params.month|date('') }}
					{% endif %}
				</li>
			{% endif %}
			
			{% if search_params.selected_tags is defined %}
				<li>
					{% for selected_tag in search_params.selected_tags %}
						{{ tags[selected_tag].getProperty('tag_' ~ lang) }}
					{% endfor %}
				</li>
			{% endif %}

            {% if search_params.keyword is defined %}
                <li>
                    {{ search_params.keyword }}
                </li>
            {% endif %}

            {% if search_params.username is defined %}
                <li>
                    {{ search_params.username }}
                </li>
            {% endif %}
		</ul>
	</div>

    {% include 'pagination.html.twig' %}

    <table class="table table-striped search">
        <thead>
            <tr>
                {% if is_admin is defined %}
                    <th class="col-1"></th>
                {% endif %}
                <th class="col-3">Photo</th>
                <th class="col-3">
                    Date
                    {% include 'sort-widget.html.twig' with {'column': 'date', 'url': url, 'page': page, 'sort_order': sort_order} %}
                </th>
                <th class="col-4">Description</th>
                <th class="col-1">Link</th>
            </tr>
        </thead>
        <tbody>
            {% for item in paging.items %}
				{% set fileParts = item.photo.getProperty('filename')|split('.') %}
				{% set thumb_path = '/photo/' ~ fileParts[0] ~ '/' ~ fileParts[1] ~ '/thumb' %}

				{% if lang == 'fr' and item.photo.getProperty('title_fr') != '' %}
					{% set title = item.photo.getProperty('title_fr') %}
				{% else %}
					{% set title = item.photo.getProperty('title_en') %}
				{% endif %}
				
                <tr>
                    {% if is_admin is defined %}
                        <td class="align-middle">
                            <button type="button"
                                    data-id="{{ item.photo.getProperty('id') }}"
                                    data-new="true"
                                    class="btn-light btn-edit btn-edit-photo">
                                <span class="fas fa-edit"></span>
                            </button>
                        </td>
                    {% endif %}
                    <td class="text-center">
                        <a href="/day/{{ fileParts[0] }}">
							{% if item.photo.getProperty('video') != '' %}
								<i class="fas fa-play video"></i>
							{% else %}
								<img src="{{ thumb_path }}">
							{% endif %}
						</a>
                    </td>
                    <td>
                        <a href="/day/{{ fileParts[0] }}">
                            {{ item.date|date('F d, Y') }}
                        </a>
                    </td>
                    <td>
                        <a href="/day/{{ fileParts[0] }}">
                            {{ title }}
                        </a>
                    </td>
                    <td class="align-middle">
                        <a href="/day/{{ fileParts[0] }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'pagination.html.twig' %}
</div>

<div id="mobileSearchResult" class="admin">
    <h2>{{ paging.nbItems }} Photos found</h2>

    <div>
        <ul>
            {% if search_params.year is defined %}
                <li>
                    {{ search_params.year }}

                    {% if search_params.month is defined %}
                        {{ search_params.month|date('') }}
                    {% endif %}
                </li>
            {% endif %}

            {% if search_params.selected_tags is defined %}
                <li>
                    {% for selected_tag in search_params.selected_tags %}
                        {{ tags[selected_tag].getProperty('tag_' ~ lang) }}
                    {% endfor %}
                </li>
            {% endif %}

            {% if search_params.keyword is defined %}
                <li>
                    {{ search_params.keyword }}
                </li>
            {% endif %}

            {% if search_params.username is defined %}
                <li>
                    {{ search_params.username }}
                </li>
            {% endif %}
        </ul>
    </div>

    {% include 'pagination.html.twig' %}

    <table class="table table-striped search">
        <thead>
        <tr>
            {% if is_admin is defined %}
                <th class="col-1"></th>
            {% endif %}
            <th class="col-10">
                Photo
                {% include 'sort-widget.html.twig' with {'column': 'date', 'url': url, 'page': page, 'sort_order': sort_order} %}
            </th>
            <th class="col-2">Link</th>
        </tr>
        </thead>
        <tbody>
        {% for item in paging.items %}
            {% set fileParts = item.photo.getProperty('filename')|split('.') %}
            {% set thumb_path = '/photo/' ~ fileParts[0] ~ '/' ~ fileParts[1] ~ '/thumb' %}

            {% if lang == 'fr' and item.photo.getProperty('title_fr') != '' %}
                {% set title = item.photo.getProperty('title_fr') %}
            {% else %}
                {% set title = item.photo.getProperty('title_en') %}
            {% endif %}

            <tr>
                {% if is_admin is defined %}
                    <td class="align-middle"></td>
                {% endif %}
                <td colspan="2">
                    <div class="title">
                        <a href="/day/{{ fileParts[0] }}">
                            {{ title }}
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                {% if is_admin is defined %}
                    <td class="align-middle">
                        <button type="button"
                                data-id="{{ item.photo.getProperty('id') }}"
                                data-new="true"
                                class="btn-light btn-edit btn-edit-photo">
                            <span class="fas fa-edit"></span>
                        </button>
                    </td>
                {% endif %}
                <td class="text-center">
                    <a href="/day/{{ fileParts[0] }}">
                        {% if item.photo.getProperty('video') != '' %}
                            <i class="fas fa-play video"></i>
                        {% else %}
                            <img src="{{ thumb_path }}">
                        {% endif %}
                    </a>
                    <div class="date">
                        <a href="/day/{{ fileParts[0] }}">
                            {{ item.date|date('F d, Y') }}
                        </a>
                    </div>
                </td>
                <td class="align-middle">
                    <a href="/day/{{ fileParts[0] }}">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'pagination.html.twig' %}
</div>

{% include 'footer.html.twig' %}
