{% include 'header.html.twig' %}

<h2>{{ translations.search }}</h2>

<form method="post" action="/search" class="search-form">
	<input type="hidden" name="year" id="year" value="">
    <input type="hidden" name="month" id="month" value="">
    <input type="hidden" name="tag" id="tag" value="">

    <div class="form-group">
        <label for="year">{{ translations.year }}</label>
		<div class="search-buttons">
			{% for year in years %}
				{% if year.getProperty('name')|length == 4 %}
					<button type="button" class="btn btn-search search-year" data-value="{{ year.getProperty('name') }}">
						{{ year.getProperty('name') }}
					</button>
				{% endif %}
			{% endfor %}
		</div>
    </div>

    <div class="form-group month-group disabled">
        <label for="month">{{ translations.month }}</label>
        <div class="search-buttons">
            {% for key, month in months %}
                <button type="button" class="btn btn-search search-month" data-value="{{ key }}">
                    {{ month|capitalize }}
                </button>
            {% endfor %}
        </div>
    </div>

    <div class="form-group tag-group">
        <label id="tagLabel" for="tag">
			{{ translations.tag }}
			<span id="tagDownArrow" title="Show Tags">&#x2193;</span>
			<span id="tagUpArrow" title="Hide Tags" class="hidden">&#x2191;</span>
		</label>
        <div id="tagsContainer" class="search-buttons hidden">
            {% for key, tag in tags %}
                <button type="button" class="btn btn-search search-tag" data-value="{{ key }}">
                    {{ tag.getProperty('tag') }}
                </button>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="email">{{ translations.keyword }}</label>
        <input type="text" name="keyword" id="keyword" class="form-control">
    </div>
	
    <div>
        <button type="submit" class="btn btn-primary m-0">{{ translations.search }}</button>
    </div>
</form>

{% include 'footer.html.twig' %}