<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
        http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    <url>
        <loc>{{ base_url }}</loc>
        <priority>1</priority>
        <changefreq>daily</changefreq>
    </url>
    <url>
        <loc>{{ base_url }}fr</loc>
        <priority>1</priority>
        <changefreq>daily</changefreq>
    </url>
    <url>
        <loc>{{ base_url }}scroll</loc>
        <priority>2</priority>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>{{ base_url }}scroll/fr</loc>
        <priority>2</priority>
        <changefreq>weekly</changefreq>
    </url>
    {% if year is defined %}
        {% for page in pages %}
            <url>
                <loc>{{ base_url }}{{ page.getProperty('url') }}</loc>
                <priority>0.7</priority>
                <changefreq>never</changefreq>
            </url>
        {% endfor %}
    {% else %}
        {% for i in 1995..current_year %}
            <url>
                <loc>{{ base_url }}{{ i }}/sitemap.xml</loc>
                <priority>1</priority>
                <changefreq>never</changefreq>
            </url>
        {% endfor %}
        {% for i in 1995..current_year %}
            <url>
                <loc>{{ base_url }}calendar/{{ i }}</loc>
                <priority>1</priority>
                <changefreq>monthly</changefreq>
            </url>
        {% endfor %}
    {% endif %}
</urlset>