{% include 'header-light.html.twig' %}

<link rel="stylesheet" href="/css/slideshow.css">

<div class="slideshow">
    <input type="hidden" id="auto" value="1">
    <input type="hidden" id="year" value="{{ year }}">
    <input type="hidden" id="current" value="{{ photo.getProperty('date')|date('ymd') }}">

    {% if random is defined %}
        <input type="hidden" id="random" value="1">
    {% endif %}

    {% if month is defined %}
        <input type="hidden" id="month" value="{{ month }}">
    {% endif %}

    <div class="content">
        <div class="row navbar navbar-dark">
            <div class="col col-8 col-md-6">
                        <div>
                            <a class="navbar-brand"
                               href="/"
                               title="{{ translations.home }}">
                                <span class="fas fa-rocket"></span>
                            </a>
                            <a class="navbar-brand"
                               href="javascript:play()"
                               title="{{ translations.play }}">
                                <span class="fas fa-play"></span>
                            </a>
                            <a class="navbar-brand"
                               href="javascript:pause()"
                               title="{{ translations.pause }}">
                                <span class="fas fa-pause"></span>
                            </a>
                            <a class="navbar-brand"
                               href="javascript:invertColors()"
                               title="{{ translations.dark_theme }}">
                                <span class="fas fa-lightbulb"></span>
                            </a>
                        </div>
            </div>
            <div class="col col-4 col-md-6 text-right">
                {{ title }}
            </div>
        </div>
        <div class="row">
            <div class="col col-1 button">
                <a href="/day/{{ photo.getProperty('date')|date('ymd') }}"
                   id="link"
                   target="_blank"
                   title="{{ translations.know_more }}">
                    <span class="fas fa-info"></span>
                </a>
            </div>
            <div class="col col-10 text-center">
                <h4 id="title">
                    {% if lang == 'fr' %}
                        {{ photo.getProperty('date')|date('d F Y') }}
                    {% else %}
                        {{ photo.getProperty('date')|date('F d, Y') }}
                    {% endif %}
                    -
                    {% if photo.getProperty('title_' ~ lang) != '' %}
                        {{ photo.getProperty('title_' ~ lang) }}
                    {% else %}
                        {{ photo.getProperty('title_en') }}
                    {% endif %}
                </h4>
            </div>
            <div class="col col-1"></div>
        </div>
        <div class="row main">
            <div class="col col-1 text-center align-self-center mobile-hide">
                <button type="button"
                        class="btn btn-light btn-previous-slide"
                        data-toggle="tooltip" data-placement="bottom" title="{{ translations.previous }}">
                    <img src="/images/angle-left.svg">
                </button>
            </div>
            <div class="col col-12 col-md-10 text-center align-self-center">
                <img src="/photo/{{ photo.getProperty('filename')|replace({'.': '/'}) }}"
                     id="photo"
                     alt="{{ photo.getProperty('title_' ~ lang) }}">
            </div>
            <div class="col col-1 text-center align-self-center mobile-hide">
                <button type="button"
                        class="btn btn-light btn-next-slide"
                        data-toggle="tooltip" data-placement="bottom" title="{{ translations.next }}">
                    <img src="/images/angle-right.svg">
                </button>
            </div>
        </div>
        <div class="row mobile-only">
            <div class="col col-3 text-center align-self-center">
                <button type="button"
                        class="btn btn-light btn-previous-slide"
                        data-toggle="tooltip" data-placement="bottom" title="{{ translations.previous }}">
                    <img src="/images/angle-left.svg">
                </button>
            </div>
            <div class="col col-6">
            </div>
            <div class="col col-3 text-center align-self-center">
                <button type="button"
                        class="btn btn-light btn-next-slide"
                        data-toggle="tooltip" data-placement="bottom" title="{{ translations.next }}">
                    <img src="/images/angle-right.svg">
                </button>
            </div>
        </div>
    </div>
</div>

{% include 'footer-light.html.twig' %}