<div class="row links">
    <div class="col text-right">
        <button type="button" class="btn btn-social btn-light d-flex float-right show-social-icons" data-id="--id--">
            <span class="fa fa-share"></span>
        </button>
        <div id="collapseSocial--id--" class="social-icons">
            <button type="button"
                    class="btn-light btn-share btn-bluesky d-flex float-right"
                    data-social="bluesky"
                    data-url="--url--"
                    data-title="--title--">
                <img src="/images/bluesky.svg">
            </button>
            <button type="button"
                    class="btn-light btn-share btn-twitter d-flex float-right"
                    data-social="twitter"
                    data-url="--url--"
                    data-title="--title--">
                <img src="/images/twitter.svg">
            </button>
            <!--
            <button type="button"
                    class="btn-light btn-share btn-tumblr d-flex float-right mr-2"
                    data-social="tumblr"
                    data-url="--url--"
                    data-title="--title--">
                <img src="/images/tumblr.svg">
            </button>
            <button type="button"
                    class="btn-light btn-share btn-linked d-flex float-right mr-2"
                    data-social="linkedin"
                    data-url="--url--"
                    data-title="--title--">
                <img src="/images/linkedin.svg">
            </button>
            -->
            <button type="button"
                    class="btn-light btn-share btn-facebook d-flex float-right mr-2"
                    data-social="facebook"
                    data-url="--url--"
                    data-title="--title--">
                <img src="/images/facebook.svg">
            </button>
            <button type="button"
                    class="btn-light thumbs-up d-flex float-right mr-2"
                    data-id="--id--">
                <span class="fa fa-thumbs-up"></span>
            </button>
        </div>
    </div>
</div>

{% if is_photo is defined %}
    <script>
        $('.thumbs-up').data('id', {{ photo.getProperty('id') }});
        $('.btn-bluesky').data('title', '{{ photo.getProperty('title_' ~ lang) }}');
        $('.btn-bluesky').data('url', '{{ base_url }}day/{{ photo.getProperty('date')|date('ymd') }}');
        $('.btn-twitter').data('title', '{{ photo.getProperty('title_' ~ lang) }}');
        $('.btn-twitter').data('url', '{{ base_url }}day/{{ photo.getProperty('date')|date('ymd') }}');
        $('.btn-tumblr').data('title', '{{ photo.getProperty('title_' ~ lang) }}');
        $('.btn-tumblr').data('url', '{{ base_url }}day/{{ photo.getProperty('date')|date('ymd') }}');
        $('.btn-linked').data('title', '{{ photo.getProperty('title_' ~ lang) }}');
        $('.btn-linked').data('url', '{{ base_url }}day/{{ photo.getProperty('date')|date('ymd') }}');
        $('.btn-facebook').data('title', '{{ photo.getProperty('title_' ~ lang) }}');
        $('.btn-facebook').data('url', '{{ base_url }}day/{{ photo.getProperty('date')|date('ymd') }}');
        $('.btn-share').data('url', '{{ base_url }}day/{{ photo.getProperty('date')|date('ymd') }}');
    </script>
{% endif %}
