{% if sort_order == 'DESC' %}
    <a href="{{ url }}/{{ current_page }}/{{ column }}/ASC">
        <i class="fas fa-sort-amount-up-alt sort-icon{% if sort_by == column %} active{% endif %}"></i>
    </a>
{% else %}
    <a href="{{ url }}/{{ current_page }}/{{ column }}/DESC">
        <i class="fas fa-sort-amount-down-alt sort-icon{% if sort_by == column %} active{% endif %}"></i>
    </a>
{% endif %}