{% include 'admin/header.html.twig' %}

{% set nb_pages = entries.nbPages %}
{% set nb_items = entries.nbItems %}
{% set previous_page = entries.previousPage %}
{% set next_page = entries.nextPage %}

<input type="hidden" id="page" value="{{ current_page }}">
<div class="entries">
    <div class="row">
        <div class="col col-md-8">
            {% include 'pagination.html.twig' %}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-3">Date</th>
                <th class="col-9">Output</th>
            </tr>
            </thead>
            <tbody>
                {% for item in entries.items %}
                    <tr>
                        <td>
                            {{ item.created_at|date('Y-m-d H:i') }}
                        </td>
                        <td>
                            <ul>
                                {% for key, val in item.decoded_output %}
                                    {% set parts = key|split('_') %}
                                    <li>
                                        {% if val == true %}
                                            <div class="green led"></div>
                                        {% else %}
                                            <div class="red led"></div>
                                        {% endif %}
                                        {{ parts[0]|capitalize }} {{ parts[1]|upper }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'pagination.html.twig' %}
</div>

{% include 'admin/footer.html.twig' %}
