{% include 'header.html.twig' %}

<div class="view">
    <form method="post" action="/movies">
        <input type="hidden" name="reset_search" value="1">
        <input type="hidden" name="category_ids" id="category_ids" value="{{ category_ids }}">

        <div class="row">
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" value="" class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="imdb_id">IMDB ID</label>
                            <input type="text" name="imdb_id" id="imdb_id" value="" class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="allocine_id">Allocine ID</label>
                            <input type="text" name="allocine_id" id="allocine_id" value="" class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="category_id">Country</label>
                            <select name="country" class="form-control">
                                <option value="">All</option>
                                {% for country in countries %}
                                    <option value="{{ country.getProperty('name') }}">
                                        {{ country.getProperty('name') }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="actor">Actor</label>
                            <input type="text" name="actor" id="actor" value="" class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="text" name="year" id="year" value="" class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="duration">Duration</label>
                            <input type="text" name="duration" id="duration" value="" class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <label for="watched_at_from">Watched between</label>
                        <input type="text" name="watched_at_from" id="watched_at_from" value=""
                               data-toggle="tooltip" data-placement="top"
                               class="form-control datepicker">
                    </div>
                    <div class="col col-md-6">
                        <label for="watched_at_to">and</label>
                        <input type="text" name="watched_at_to" id="watched_at_to" value=""
                               data-toggle="tooltip" data-placement="top"
                               class="form-control datepicker">
                    </div>
                    <div class="col col-md-6">
                        <label for="rating_from">Rating between</label>
                        <input type="text" name="rating_from" id="rating_from" value="0"
                               data-toggle="tooltip" data-placement="top"
                               class="form-control">
                    </div>
                    <div class="col col-md-6">
                        <label for="rating_to">and</label>
                        <input type="text" name="rating_to" id="rating_to" value="10"
                               data-toggle="tooltip" data-placement="top"
                               class="form-control">
                    </div>
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label>Watchlist</label><br>
                            <label for="watchlist" class="switch search">
                                <input type="checkbox" name="watchlist" id="watchlist" value="1" class="primary"
                                       data-toggle="tooltip" data-placement="top" title="Watchlist">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label>Sort by</label><br>
                            <select name="sort_by" class="form-control">
                                <option value="watched_at">Watch Date</option>
                                <option value="title">Title</option>
                                <option value="imdb_rating">Rating</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label>Sort order</label><br>
                            <select name="sort_order" class="form-control">
                                <option value="desc">Desc</option>
                                <option value="asc">Asc</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="category_id">Category</label>
                            {% for category in categories %}
                                <div class="category-tag">
                                    <button type="button" class="btn select-category btn-category unselected"
                                            data-id="{{ category.getId() }}">
                                        {{ category.getProperty('label') }}
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>

{% include 'footer.html.twig' %}
