{% include 'admin/header.html.twig' %}

{% set currentYear = 'today'|date('Y') %}

<div class="admin">
    {% if error is defined %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {% if success is defined %}
        <div class="alert alert-success">
            The mosaic was created
        </div>
    {% endif %}

    <h2>
		Mosaics
	</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-3">Action</th>
                <th class="col-1">Year</th>
                <th class="col-8">Mosaic</th>
            </tr>
        </thead>
        <tbody>
            {% for year in 1995..currentYear %}
                <tr>
                    <td>
                        {% if pending[year] is defined %}
                            <button type="button"
                                    data-year="{{ year }}"
                                    class="btn-light btn-generate-thumbnail"
                                    title="Generate">
                                <span class="fas fa-bolt"></span>
                            </button>
                        {% endif %}
                    </td>
                    <td>{{ year }}</td>
                    <td>
                        <img src="/images/mosaics/{{ year }}.png" class="year-mosaic">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin/footer.html.twig' %}
