<div class="helper position-fixed">
    <h3>Helper</h3>
    <table class="table table-striped">
        <tr>
            <td>Letter</td>
            <td>Code</td>
        </tr>
        <tr>
            <td>à</td>
            <td>0224</td>
        </tr>
        <tr>
            <td>â</td>
            <td>0226</td>
        </tr>
        <tr>
            <td>ä</td>
            <td>0228</td>
        </tr>
        <tr>
            <td>æ</td>
            <td>0230</td>
        </tr>
        <tr>
            <td>ç</td>
            <td>0231</td>
        </tr>
        <tr>
            <td>è</td>
            <td>0232</td>
        </tr>
        <tr>
            <td>é</td>
            <td>0233</td>
        </tr>
        <tr>
            <td>ê</td>
            <td>0234</td>
        </tr>
        <tr>
            <td>ë</td>
            <td>0235</td>
        </tr>
        <tr>
            <td>î</td>
            <td>0238</td>
        </tr>
        <tr>
            <td>ï</td>
            <td>0239</td>
        </tr>
        <tr>
            <td>ô</td>
            <td>0244</td>
        </tr>
        <tr>
            <td>œ</td>
            <td>0156</td>
        </tr>
        <tr>
            <td>ù</td>
            <td>0249</td>
        </tr>
        <tr>
            <td>ñ</td>
            <td>0164</td>
        </tr>
        <tr>
            <td>û</td>
            <td>0251</td>
        </tr>
        <tr>
            <td>ü</td>
            <td>0252</td>
        </tr>
        <tr>
            <td>À</td>
            <td>0192</td>
        </tr>
        <tr>
            <td>Â</td>
            <td>0194</td>
        </tr>
        <tr>
            <td>Ä</td>
            <td>0196</td>
        </tr>
        <tr>
            <td>Æ</td>
            <td>0198</td>
        </tr>
        <tr>
            <td>Ç</td>
            <td>0199</td>
        </tr>
        <tr>
            <td>È</td>
            <td>0200</td>
        </tr>
        <tr>
            <td>É</td>
            <td>0201</td>
        </tr>
        <tr>
            <td>Ê</td>
            <td>0202</td>
        </tr>
        <tr>
            <td>Ë</td>
            <td>0203</td>
        </tr>
        <tr>
            <td>Î</td>
            <td>0206</td>
        </tr>
        <tr>
            <td>Ï</td>
            <td>0207</td>
        </tr>
        <tr>
            <td>Ô</td>
            <td>0212</td>
        </tr>
        <tr>
            <td>Œ</td>
            <td>0140</td>
        </tr>
        <tr>
            <td>Ù</td>
            <td>0217</td>
        </tr>
        <tr>
            <td>Û</td>
            <td>0219</td>
        </tr>
        <tr>
            <td>Ü</td>
            <td>0220</td>
        </tr>
        <tr>
            <td>Ñ</td>
            <td>0165</td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('.helper td').on('click', function () {
            let value = $(this).html();

            if (navigator.clipboard) {
                navigator.clipboard.writeText(value);
            }
        });
    });
</script>
