{% include 'admin/header.html.twig' %}

<div class="dashboard">
    <div class="card w-50">
        <div class="card-body">
            <h4 class="card-title">
                Cron Executions
            </h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-3">Date</th>
                        <th class="col-9">Output</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cron_executions %}
                    <tr>
                        <td>
                            {{ item.created_at|date('Y-m-d H:i') }}
                        </td>
                        <td>
                            <ul>
                                {% for key, val in item.decoded_output %}
                                    {% set parts = key|split('_') %}
                                    <li>
                                        {% if val == true %}
                                            <div class="green led"></div>
                                        {% else %}
                                            <div class="red led"></div>
                                        {% endif %}
                                        {{ parts[0]|capitalize }} {{ parts[1]|upper }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <a href="/admin/cron-executions">All</a>
            </div>
            <div class="cron-link">
                <a href="/cron.php">Get From NASA</a>
            </div>
            <div class="cron-link">
                <a href="/tools/post-social" target="_blank">Post to Social</a>
            </div>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
            <h4 class="card-title">
                Photos
            </h4>
            <div class="">
                {% for nb in nb_photos %}
                    <div class="row">
                        <div class="col-6">
                            {{ nb.year }}
                        </div>
                        <div class="col-6">
                            {{ nb.total }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'admin/footer.html.twig' %}
