<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Cache-control" content="public" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/mdbootstrap/js/popper.js"></script>
    <script type="text/javascript" src="/js/jquery.richtext.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="/js/admin.js"></script>
	<script type="text/javascript" src="/js/photos.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-datepicker3.css"/>
	<link rel="stylesheet" href="/css/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/css/richtext.min.css">
	<link rel="stylesheet" href="/css/fontawesome/css/brands.css">
	<link rel="stylesheet" href="/css/fontawesome/css/solid.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/images/favicon_admin.png" type="image/png">
</head>
<body>
{% if showHelper %}
	{% include 'admin/characters-helper.html.twig' %}
{% endif %}
	<div class="container">
		<div class="header">
			<div class="menu">
				{% include 'admin/menu.html.twig' %}
			</div>
		</div>
		<div class="content">
