<nav class="navbar navbar-expand-sm navbar-admin">
    <div class="container">
		<div>
			<a class="navbar-brand" href="/"
			   data-toggle="tooltip" data-placement="bottom" title="{{ translations.home }}">
				<span class="fas fa-rocket"></span>
			</a>
			<a class="navbar-brand" href="/admin/dashboard">Admin</a>
		</div>
		<div class="navbar" id="navbarText">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/admin/users">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/photos">Photos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/tags">Tags</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/translations">Translations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/thumbnails">Thumbnails</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/years">Years</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>