{% include 'admin/header.html.twig' %}

{% if message != '' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}

{% if error != '' %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<h1>
    {% if comment.id > 0 %}
        Comment {{ comment.id }}
    {% else %}
        New Comment
    {% endif %}
</h1>

{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for field, error in errors %}
                <li>
                    {{ field }} - {{ error.message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post" action="/admin/save-comment">
    <input type="hidden" name="id" value="{{ comment.getId() }}">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"
               value="{{ comment.getProperty('username') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment"
                  class="form-control">{{ comment.getProperty('comment') }}</textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% include 'admin/footer.html.twig' %}
