.container {
    max-width: 100%;
    padding: 0;
}
.content {
    padding: 0 0 10px 0;
    height: 100vh;
}
.row {
    margin: 0;
}
h4 {
    margin-top: 0.5rem;
}

.slideshow .col.button {
    padding: 10px 20px;
}
.slideshow a {
    color: #112;
}
.slideshow .navbar {
    color: #fff;
    margin: 0;
}
.slideshow .row.main {
    height: 85vh;
}
.slideshow img {
    max-width: 100%;
    max-height: 85vh;
}
.slideshow .btn-previous-slide, .slideshow .btn-next-slide {
    color: #112;
    font-size: 3.5rem;
}
.slideshow .btn-previous-slide img, .slideshow .btn-next-slide img {
    width: 30px;
}

@media (max-width: 768px) {
    .slideshow .row.main {
        height: 50vh;
    }
}