@font-face {
    font-family: 'EB Garamond Regular';
    src: url('fonts/EBGaramond-Regular.eot');
    src: url('fonts/EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/EBGaramond-Regular.woff') format('woff'),
    url('fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond Medium';
    src: url('fonts/EBGaramond-Medium.eot');
    src: url('fonts/EBGaramond-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/EBGaramond-Medium.woff') format('woff'),
    url('fonts/EBGaramond-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #ddd;
    min-height: 600px;
    color: #212529;
    font-family: EB Garamond Medium serif;
}
body.padding-top {
    padding-top: 3.5rem;
}

.sticky {
    position: fixed;
    width: 1110px;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

a {
    color: #77f;
}
a.slideshow {
    color: #112;
}

hr {
    background-image: linear-gradient(to right, #999, #212529, #999);
    height: 1px;
    width: 50%;
}

.clear-both {
	clear: both;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.no-padding-left {
    padding-left: 0;
}

.bg-dark {
    background: #000!important;
}

.navbar {
    background-color: #112;
}
.navbar.mobile-only {
    display: none;
}

.navbar-admin .navbar {
    background-color: transparent;
}

.navbar-dark .navbar-brand:hover {
	color: #ccd;
}

.btn {
	padding: 10px 20px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #112;
}

.content {
    background: #f9f6f6;
    padding: 10px;
}

.pagination .page-item.active .page-link {
    background-color: #5f5e6e;
}

.paging {
    margin: 10px 0;
}

.footer {
    background-image: linear-gradient(to top, #ddd, #ddd, #ddd, #eee, #f9f6f6);
    height: 100px;
    padding: 40px 0 10px;
    background-color: #fff;
}
.footer .row {
    width: 100%;
}
.footer .row .col-6.vidry-com {
    padding: 0;
}

div.account {
	margin: 10px;
    border-radius: .25rem !important;
}

div.account:hover {
    background: #444;
}

div.list {
    margin: 20px auto;
}

div.vidry-com {
    text-align: right;
}
.vidry-com img {
	height: 30px;
}
div.social {
    padding-left: 20px;
}
div.social .icon {
    width: 35px;
	padding: 0 5px;
	float: left;
}
div.social .icon.first {
	padding-left: 0;
}
div.social img {
    height: 25px;
}

div.vidry-com a {
    font-family: "EB Garamond Medium", sans-serif;
    font-size: 1.6em;
    font-style: italic;
    color: #000050;
}

div.vidry-com a:hover {
    text-decoration: none;
}

div.accounts table {
    margin: 10px auto;
}

div.accounts table td.balance {
    font-weight: bold;
}

form.login {
	width: 300px;
	margin: 50px auto;
}

form.login .form-group {
	width: 200px;
	margin: 5px auto;
	text-align: right;
}

form.login .form-group input {
	width: 100%;
	border: 1px solid #000;
}

.navbar-admin {
    background: #491217;
}

.light-grey {
    background: #aaa;
}

.navbar-admin a {
    color: #fff;
}

.navbar-nav a {
    color: #c8cbcf;
}

.nav-item-icon {
    margin: 0 10px;
}

h1 a i {
    font-size: 2.5rem;
}

div.admin table {
    margin: 10px 0;
}

div.account-name {
    display: flex;
    text-align: center;
}

div.account-name span {
    margin: auto 0;
}

table th {
    font-weight: bold;
    text-align: center;
}

table.search td img {
	max-height: 160px;
	max-width: 160px;
    width: auto;
    height: auto;
}
table.search td i.video {
	font-size: 3rem;
	margin: 60px auto;
}

th span.header-sortable {
    cursor: pointer;
}

.btn-light {
    border: none;
    background: transparent !important;
    cursor: pointer;
    color: #112;
    font-size: 1.5rem;
}
.btn-light:hover {
    opacity: 0.5;
}

button.btn-light:hover {
    background: none;
}

button.btn-edit {
    color: #999;
}

button.btn-watch {
    color: #5B7;
}

button.btn-view {
    color: #57B;
}

button.btn-delete {
    color: #dc3545;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #887c90;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked + .slider {
    background-color: #444;
}
input.primary:checked + .slider {
    background-color: #2196F3;
}
input.success:checked + .slider {
    background-color: #8bc34a;
}
input.info:checked + .slider {
    background-color: #3de0f5;
}
input.warning:checked + .slider {
    background-color: #FFC107;
}
input.danger:checked + .slider {
    background-color: #f44336;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

div.bottom-right {
    position: relative;
}

div.bottom-right button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;
}

.checkbox-label {
    height: 55px;
}

.btn-previous, .btn-next {
	font-size: x-large;
}

.btn-next {
	text-align: right;
}

div.album-cell {
	text-align: center;
	color: #212529;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #212529;
	border-radius: 8px;
	margin: 8px;
	padding: 5px;
	width: 194px;
	height: 240px;
	float: left;
    box-shadow: 5px 5px #ccf;
}

div.photo-cell {
    height: 210px;
}

div.album-cell .thumbnail {
    width: 160px;
    height: 160px;
}

div.album-cell .thumbnail .default-image {
    padding-top: 45px;
}

div.album-cell .thumbnail img {
    border: 1px solid #fff;
}

div.album-cell .thumbnail img:hover {
    border-color: #cce;
}

.overlay {
  position: absolute;
  z-index: 2;
  opacity: 0;
  color: #abf;
  background: #445;
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
  margin: -5px 0 0 -5px;
}

.overlay:hover {
    opacity: 0.9;
}

.overlay .section {
    width: 100%;
    height: 40px;
    padding-top: 5px;
}

.overlay .section.left {
    text-align: left;
    padding-left: 5px;
}

.overlay .section.left .btn-delete {
	float: right;
}

.overlay .section.links {
    height: 40px;
}

.overlay .section.rate {
    height: 25px;
}

div.btn-list {
	text-align:right;
	padding-right: 30px;
}

select.form-control {
    color: #fff;
    background-color: #887c90;
}

select.multiple {
    height: 300px;
}

.checked {
    color: orange;
}

.thumbnail {
	height: 160px;
	width: 160px;
	margin: 5px;
}

div.image {
	margin: 0 auto;
	width: 360px;
	height: 100%;
	background-color: #212529;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 492px;
	border: 4px solid #212529;
	border-radius: 8px;
	box-shadow: 5px 5px #777;
}

div.view {
    border: 1px solid #212529;
	border-radius: 8px;
	padding-bottom: 50px;
}

div.view h1 {
    background: #3d414b;
    color: #abf;
	border-radius: 8px 8px 0 0;
	padding: 10px;
}

.btn-category, .btn-category:active, .btn-category:focus {
	height: 30px;
	padding: 5px 10px;
	border-radius: 15px;
	border: none;
	background-color: #57B;
	color: #abf;
	float: left;
}

.btn-category.unselected, .btn-category.unselected:active, .btn-category.unselected:focus {
    background-color: #3d414b;
}

.view .duration, .view-public .duration {
	font-size: 0.3em;
}

.view label {
    font-weight: bold;
}

.view form {
    padding: 10px;
}

.view form input {
    color: #fff;
    background-color: #887c90;
}
.modal {
  padding: 0 !important; // override inline padding-right added from js
}

.modal-body .info {
    position: absolute;
    display: none;
    box-shadow: 10px 10px 20px #212529;
    background-color: #fff;
}
.modal-footer a.btn-danger {
    color: #fff;
}

.selected {
    color: #bfa;
}

div.photo, div.title, div.credits, div.pagination {
	text-align: center;
    margin: 0 30px;
}

div.title {
    font-weight: bold;
    font-size: 1em;
    position: relative;
}

div.description {
    margin: 20px 40px 20px 40px;
    text-align: justify;
}

div.description a {
    color: #77f;
}

.share-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.pagination div {
	margin: 0 auto;
}

img.photo {
	max-width: 800px;
	max-height: 600px;
}

#navbarText {
	color: #fff;
}

div.video {
	text-align: center;
}

div.video iframe {
	width: 800px;
	height: 450px;
}

button.year, button.month {
	float: left;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	width: 13.7%;
	height: 150px;
	padding: 5px;
    border: none;
    background-color: unset;
	border-radius: 15px;
	margin: 3px;
    cursor: pointer;
}
button.year:active, button.month:active {
    border: none;
}
button.year:focus, button.month:focus {
    outline: 0;
    box-shadow: none!important;
}

button.month {
    position: relative;
	width: 20%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    margin: 15px 2.4%;
}
button.month.disabled {
	opacity: 0.2;
}
button.month .label {
    font-size: 2.5rem;
    color: #112;
    text-shadow: -2px -2px 10px #fff, 2px 2px 10px #fff, 2px 2px 10px #fff, 2px -2px 10px #fff;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 20;
}
button.month .overlay {
    position: absolute;
    background-color: #112;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 25px;
    z-index: 10;
}

button.year {
	position: relative;
	border: none;
	height: 100px;
	background-color: transparent;
	background-position: center center;
	margin: 15px;
}
button.year .label {
	position: absolute;
	left: 0;
	right: 0;
	top: 15px;
    font-size: 3rem;
	text-shadow: -2px -2px 10px #fff, 2px 2px 10px #fff, 2px 2px 10px #fff, 2px -2px 10px #fff;
}
button.year .label:hover, button.month .label:hover {
	opacity: 0.3;
}
button.year img {
	max-width: 100%;
	max-height: 100%;
}

.search-form .form-group {
	border: 1px solid rgba(17,17,34,0.2);
	padding-bottom: 15px;
}
.search-form .form-group.disabled {
    opacity: 0.5;
}
.search-form .form-group label {
	width: 100%;
	background: rgba(17,17,34,0.2);
	padding: 5px 15px 5px;
	font-size: 1.2rem;
}
.search-form .form-group .search-buttons {
	padding: 5px 15px 15px;
}
.search-form .form-group input {
	margin: 5px 15px;
	width: 75%;
}
.search-form .form-group.tag-group {
	padding-bottom: 0;
}

#tagLabel {
	cursor: pointer;
	margin-bottom: 0;
}

button.btn.btn-search {
	border-radius: 2rem;
    padding: 5px 10px;
    width: 11%;
    font-size: 1rem;
	text-transform: unset;
}
button.btn.btn-search.search-month, button.btn.btn-search.search-tag, button.btn.btn-tag {
    width: 15.2%;
}
button.btn.btn-search.search-tag, button.btn.btn-tag {
    height: 3.5rem;
    margin: 5px 5px 5px 0;
}
button.btn.btn-search.search-year.selected,
button.btn.btn-search.search-month.selected,
button.btn.btn-search.search-tag.selected,
button.btn.btn-tag.selected {
	background-color: rgba(17,17,34,1);
    color: #fff;
	box-shadow: none;
}

.calendar-header {
	text-align: left;
}

div.thumb {
	float: left;
	margin: 1% 1.1%;
	width: 12%;
	height: 125px;
	text-align: center;
	position: relative;
	cursor: pointer;
    border-radius: 15px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}
div.thumb.mosaic {
    width: 12%;
    height: 120px;
    background-size: cover;
}
div.thumb.video {
	background-size: cover;
}
div.thumb:hover {
	opacity: 0.7;
}
div.thumb div.img {
	position:absolute;
	width: 100%;
}
div.thumb div.img img {
	max-width: 145.9px;
	height: auto;
	max-height: 145.9px;
}
div.thumb div.img span {
	color: #112;
	font-size: 64px;
	margin-top: 35px;
}

div.thumb div.date {
	display: none;
	position: absolute;
	margin-top: 20px;
	height: 20px;
	font-size: 64px;
	text-align: center;
	width: 100%;
	text-shadow: -2px -2px 10px #fff, 2px 2px 10px #fff, 2px 2px 10px #fff, 2px -2px 10px #fff;
	color: #112;
}
div.thumb.mosaic div.date {
    margin-top: 2px;
    font-size: 5rem;
}

div#articles {
    width: 70%;
    margin: 0 auto;
}
div#articles .col-12 {
    padding: 0;
}
div.scroll {
    border: 1px solid #112;
    border-radius: 15px;
    margin-bottom: 15px;
}
div.scroll .thumb {
    width: 100%;
    height: 700px;
    background-size: cover;
    margin: 0;
    border-radius: 15px 15px 0 0;
}
div.scroll .thumb:hover {
    opacity: 100%;
}
div.scroll .date {
    font-size: 1rem;
    font-style: italic;
}
div.scroll .details {
    margin: 5px;
    font-size: 1.5rem;
}
div.scroll hr {
    width: 50%;
    margin: 15px 25%;
    border-top: 1px solid rgba(17,17,34,0.2);
}
div.scroll .row.links img {
    height: 24px;
}

div.bottom-navigation {
    height: 30px;
}

div.bottom-navigation ul {
	height: 20px;
}

div.bottom-navigation ul li {
	list-style-type: none;
	float: left;
	margin: 3px;
}

div.bottom-navigation ul.left {
    float: left;
    width: 60%;
}

div.bottom-navigation ul.right {
    float: right;
    margin-right: 40px;
}

.lang {
    height: 20px;
    margin-bottom: 3px;
    opacity: 0.7;
}

.admin td img {
    height: 25px;
}
.admin td img.photo {
    height: 100px;
	max-width: 400px;
	width: auto;
}

form.admin button.btn.btn-search {
	width: 15%;
	margin: 5px;
}

.month-thumbnail, .year-mosaic {
    width: 200px;
    height: auto!important;
}

.message-form {
    display: none;
}

.remember-me {
    margin: 0;
}

.remember-me .checkbox {
    margin: auto 0;
}

.remember-me .label {
    margin: 8px 10px 0;
}

.social {
    text-align: right;
    padding-right: 40px;
}
.social .likes {
    float: right;
    padding-top: 5px;
}
.btn-social, .btn-social:hover, .btn-social:focus {
    border: unset;
    box-shadow: unset;
    padding: 0;
    margin-right: 5px!important;
}
.btn-social:hover {
    opacity: 0.5;
}

#commentForm {
    width: 50%;
}
.btn-white {
    color: #212529;
    margin: 0;
}
.comments, .tag-group {
    margin: 0 40px;
}
.search-form .tag-group {
    margin: 0 0 1rem 0;
}
.comments .list {
    margin: unset;
}
.comment {
    border-radius: 10px;
    color: #fff;
    background: #212529;
    padding: 10px;
    margin-bottom: 10px;
}
.comment .username, .comment .creation-date {
    font-style: italic;
}
.comment .content {
    background: unset;
    padding: 10px 0 0 0;
    border-top: 1px solid #fff;
    margin-top: 10px;
}
.comment-error, .btn-save-comment, .cancel-comment {
    margin-top: 10px;
}

#desktopSearchResult {
    display: block;
}
#mobileSearchResult {
    display: none;
}

.mobile-only {
    display: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.social-icons {
    float: right;
    overflow: hidden;
    height: 26px;
    width: 0;
    margin: 5px;
}

.dashboard {
    height: auto;
	overflow: auto;
}
.dashboard .card {
    border-radius: 10px;
    float: left;
    margin: 10px;
}
.dashboard .card.w-50 {
    width: 48%!important;
}
.dashboard .card .card-title {
    margin: -1.25rem -1.25rem 0.75rem;
    padding: 10px;
    background: rgba(17,17,34,0.5);
    border-radius: 10px 10px 0 0;
}
.dashboard li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.green {
    background-image: -webkit-linear-gradient(top, #13fB04 0%, #58e343 50%, #ADED99 100%);
}

.orange {
    background-image: -webkit-linear-gradient(top, #f9a004 0%, #e0ac45 50%, #ead698 100%);
}


.red {
    background-image: -webkit-linear-gradient(top, #fb1304 0%, #e35843 50%, #edad99 100%);
}


.led {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 5px black;
    margin: 0 6px;
    display: inline-flex;
}

.led:after {
    display: block;
    content: '';
    margin-left: 1px;
    margin-right: 1px;
    width: 10px;
    height: 8px;
    -webkit-border-top-right-radius: 4px 3px;
    -webkit-border-top-left-radius: 4px 3px;
    -webkit-border-bottom-right-radius: 4px 3px;
    -webkit-border-bottom-left-radius: 4px 3px;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 100%);
}

.helper {
    top: 0;
    overflow: scroll;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1024px) {
	button.year .label {
		font-size: 2rem;
		top: 25px;
	}
	button.month .label {
		font-size: 1.8rem;
		top: 20px;
	}
    button.month {
        height: 100px;
    }

    div.thumb {
        width: 11%;
        height: 120px;
        margin: 1% 1.6%;
    }
    div.thumb div.date {
        margin-top: -2px;
        font-size: 5rem;
        display: block;
    }

    img.photo {
		max-width: 100%;
		height: auto;
	}
	
	.title, .credits, .description {
		font-size: 1.2rem;
	}

	button.btn.btn-search {
		width: 10%;
	}
	button.btn.btn-search.search-month {
		width: 22.5%;
	}

    div#articles {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
    .mobile-only {
        display: flex;
    }
    .container {
        padding: unset;
    }

    .navbar.mobile-only {
        display: flex;
    }
    .navbar.no-mobile {
        display: none;
    }
    .navbar ul {
        line-height: 2rem;
    }

    .navbar-collapse {
        padding-top: 10px;
        border-top: 1px solid #fff;
        margin-top: 5px;
    }

    button.month {
        width: 28%;
        height: 125px;
    }
    button.month .label {
        top: 25px;
    }
    button.year .label {
        top: 25px;
        font-size: 2rem;
    }

	button.btn.btn-search, button.btn.btn-search.search-month {
		width: 44%;
	}
    button.btn.btn-search.search-month, button.btn.btn-search.search-tag, button.btn.btn-tag {
        width: 100%;
        font-size: 1.3rem;
    }

    div.title {
        font-size: 1.5rem;
    }
    div.photo, div.title, div.credits, div.description {
        margin: 20px 0 20px 0;
    }
    .social {
        padding-right: 0;
    }
    .comments, .tag-group {
        margin: 0 0;
    }
    #commentForm {
        width: 100%;
    }
    ul.left {
        padding-left: 0;
    }
    div.bottom-navigation {
        font-size: 1.3rem;
        height: 80px;
    }
    div.bottom-navigation ul {
        height: 70px;
    }
    div.bottom-navigation ul.right {
        margin-right: 0;
    }

    div.thumb {
        margin: 5% 1.5%;
        width: 30%;
    }
    div.thumb.mosaic {
        width: 47%;
        height: 150px;
    }
    div.thumb.mosaic div.date {
        font-size: 6em;
    }

    .dropdown-menu {
        font-size: 2rem;
    }

    button.year {
        width: 25%;
    }
    button.month {
        width: 45%;
    }
    button.month.label {
        font-size: 2.3rem;
    }

    #desktopSearchResult {
        display: none;
    }
    #mobileSearchResult {
        display: block;
    }
    table.search .date {
        font-size: 1.2rem;
    }
    table.search .title {
        font-size: 1.5rem;
        margin: unset;
    }

}

@media (max-width: 480px) {
    body.padding-top {
        padding-top: 2.8rem;
    }

    div.scroll .thumb {
        height: 350px;
    }
}

@media (max-width: 375px) {
    button.year {
        width: 24%;
    }
}
