#wrapper
{
    text-align:center;
    margin:0 auto;
    padding:0;
    width:100%;
}
#drop-area
{
    margin: 20px auto;
    width:550px;
    height:200px;
    background-color:white;
    border:3px dashed grey;
}
.drop-text
{
    margin-top:70px;
    color:grey;
    font-size:25px;
    font-weight:bold;
}
#drop-area img
{
    max-width:200px;
}