{% include 'header.html.twig' %}

{% if message != '' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}

{% if error != '' %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<h2>
    My Profile ({{ user.getProperty('username') }})
</h2>

{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for field, error in errors %}
                <li>
                    {{ field }} - {{ error.message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post" action="/save-profile">
    <input type="hidden" name="id" value="{{ user.getProperty('id') }}">

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password"
               value=""
               class="form-control">
    </div>

    <div class="form-group">
        <label for="password2">Repeat Password</label>
        <input type="password" name="password2" id="password2"
               value=""
               class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email"
               value="{{ user.getProperty('email') }}"
               class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% include 'footer.html.twig' %}
