{% include 'header.html.twig' %}

<div>
    {% if result.success == true %}
        <div class="alert alert-success">
            {{ result.nb_thumbnails }} thumbnails created.<br>
            {{ result.nb_added }} entries added.
        </div>
    {% else %}
        <div class="alert alert-danger">
            <ul>
                {% for error in result.errors %}
                    <li>
                        {{ error }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <button class="btn btn-view" data-id="{{ album_id }}">
        Open Album
    </button>
</div>

{% include 'footer.html.twig' %}
