{% include 'header.html.twig' %}

<h2>{{ translations.export }}</h2>

<div>
    {{ translations.exportDescription }}
</div>
<form method="post" action="export">
    <div class="form-group col-md-4">
        <label for="year">{{ translations.year }}</label>
        <input type="text" name="year" id="year" value="{{ year }}" class="form-control">
    </div>

    <div class="form-group col-md-4">
        <label for="month">{{ translations.month }}</label>
        <select name="month" id="month" class="form-control">
			<option value="all">All</option>
            {% for key, month in months %}
                <option value="{{ key }}">
                    {{ month|capitalize }}
                </option>
            {% endfor %}
		</select>
    </div>

    <div class="form-group col-md-4">
        <input type="checkbox" name="download" id="doanload" value="1" checked="checked">
        <label for="year" class="form-check-label">{{ translations.downloadExport }}</label>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">{{ translations.export }}</button>
    </div>
</form>

{% include 'footer.html.twig' %}