{% include 'header-light.html.twig' %}

<h1>Get NASA images</h1>

{% if wrong_env is defined %}
    <div class="alert alert-warning">
        This page is not available.
    </div>
{% else %}
    {% if show_form is defined %}
        <form method="post" action="/tools/get-nasa-images">
            <div class="row">
                <div class="col-3">
                    <div class="form-control">
                        <select name="year" class="w-50 form-control">
                            {% for year in 1997..date|date('Y') %}
                                <option value="{{ year }}"{% if year == next_date|date('Y') %} selected="selected"{% endif %}>
                                    {{ year }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-control">
                        <select name="month" class="w-50 form-control">
                            {% for month in 1..12 %}
                                <option value="{{ month }}"{% if month == next_date|date('m') %} selected="selected"{% endif %}>
                                    {{ month }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-control">
                        <select name="day" class="w-50 form-control">
                            {% for day in 1..31 %}
                                <option value="{{ day }}"{% if day == next_date|date('d') %} selected="selected"{% endif %}>
                                    {{ day }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-get-images">Submit</button>
                </div>
            </div>
        </form>
    {% endif %}
    <h4>From {{ year }}-{{ month }}-{{ day }}</h4>
    <div id="result"></div>

    <script>
        let date = new Date();
        date.setFullYear('{{ year }}');
        date.setMonth({{ month }} - 1);
        date.setDate('{{ day }}');
        date.setHours(0, 0, 0, 0);

        getImage(date);

        function getImage(date)
        {
            let today = new Date();
            today.setHours(0, 0, 0, 0);

            if (date <= today) {
                let month = date.getMonth() + 1;
                let data = {
                    year: date.getFullYear(),
                    month: month,
                    day: date.getDate(),
                    limit: 1
                };
                $.ajax({
                    type: "POST",
                    url: '/tools/get-nasa-image',
                    data: data,
                    success: function (response) {
                        let result = $('#result').html() + response;

                        $('#result').html(result);
                    }
                });

                date.setDate(date.getDate() + 1);

                setTimeout(function() {
                    getImage(date);
                }, 3000);
            }
        }
    </script>
{% endif %}

{% include 'footer-light.html.twig' %}