<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	</head>
	<body>
		<input type="text" id="url" value="http://apod.local/tools/get-from-nasa/" style="width: 300px"><br>
		<input type="text" id="from" value="" placeholder="From">
		<input type="text" id="to" value="" placeholder="To"><br>
		<input type="text" id="get_images" value="false" placeholder="Get Images"><br>
		<button class="btn-start">
			Start
		</button>
		<button class="btn-stop">
			Stop
		</button>
		<br><br>
		
		<span id="nb">0</span> done.
		
		<script>
			var process = true;
			var populate = function () {
				let url = $('#url').val() + $('#from').val() + '/' + $('#get_images').val();
				
				$.ajax({
					url: url,
					success: function (response) {
						$('#from').val(response);
						
						if (process === true && response != $('#to').val()) {
							setTimeout(populate, 5000);
						}
					}
				});
			}
			
			$(document).ready(function () {
				$('.btn-start').on('click', function () {
					populate();
				});
				
				$('.btn-stop').on('click', function () {
					process = false;
				});
			});
		</script>
	</body>
</html>