{% include 'header-light.html.twig' %}

<h1>Post Social</h1>
<div id="result"></div>

<script>
    setTimeout(function() {
        post('twitter', 'en');

        setTimeout(function() {
            post('mastodon', 'en');

            setTimeout(function() {
                post('tumblr', 'en');

                setTimeout(function() {
                    //post('bluesky', 'en');

                    setTimeout(function() {
                        post('twitter', 'fr');

                        setTimeout(function() {
                            post('mastodon', 'fr');

                            setTimeout(function() {
                                post('tumblr', 'fr');

                                setTimeout(function() {
                                    post('bluesky', 'fr');
                                }, 3000);
                            }, 3000);
                        }, 3000);
                    }, 3000);
                }, 3000);
            }, 3000);
        }, 3000);
    }, 3000);

    function post(socialNetwork, lang)
    {
        $.ajax({
            type: "POST",
            url: '/' + socialNetwork + '-daily-post/' + lang,
            success: function (response) {
                let result = $('#result').html() + socialNetwork + ' - ' + lang + '<br>';

                $('#result').html(result);
            }
        });
    }
</script>

{% include 'footer-light.html.twig' %}