{% include 'header-light.html.twig' %}

<h1>{{ album.getProperty('name') }}</h1>
<h2>Update EXIF Data</h2>

Nb Photos: {{ photos|length }}<br>
Processed: <span id="nbProcessed">0</span>
<div class="progress">
    <div id="thumbnailsProgress" class="progress-bar" role="progressbar" aria-valuenow="70"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <span class="sr-only">0% Complete</span>
    </div>
</div>
<br><br>

<div>
	<button type="button" class="btn-reload btn-primary">
		Reload
	</button>
</div>
<script type="text/javascript">
    let album_id = '{{ album_id }}';
    let photos = [];
    let i = 0;
    let nb_photos = {{ photos|length }};
    let url = '/update-exif-data';
    let data = {};

    {% for photo in photos %}
        photos[i] = '{{ photo }}';
        i++;
    {% endfor %}

    setTimeout(updateExifData, 2000, album_id, photos, nb_photos, 0);

    function updateExifData(album_id, photos, nb_photos, i)
    {
        data = {
            album_id: album_id,
            filename: photos[i]
        };
        $.post(url, data, function (result) {
            let progress = (i + 1) * 100 / nb_photos;

            $('#nbProcessed').html(i);
            $('#thumbnailsProgress').css('width', progress + '%');
            console.log(photos[i] + ' processed')

            if (i < photos.length) {
                updateExifData(album_id, photos, nb_photos, i + 1);
            }
        });

        return true;
    }
</script>

{% include 'footer-light.html.twig' %}
