{% include 'admin/header.html.twig' %}

{% if message != '' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}

{% if error != '' %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<h1>
    {% if translation.id > 0 %}
        Translation {{ translation.getProperty('code') }} - {{ translation.getProperty('lang') }}
    {% else %}
        New Translation
    {% endif %}
</h1>

{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for field, error in errors %}
                <li>
                    {{ field }} - {{ error.message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post" action="/admin/save-translation">
    <input type="hidden" name="id" value="{{ translation.getId() }}">

    <div class="form-group">
        <label for="code">English</label>
        <input type="text" name="code" id="code"
               value="{{ translation.getProperty('code') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="lang">Language</label>
        <select name="lang" id="lang" class="form-control">
            <option value="en"{% if translation.getProperty('lang') == 'en' %} selected="selected"{% endif %}>en</option>
            <option value="fr"{% if translation.getProperty('lang') == 'fr' %} selected="selected"{% endif %}>fr</option>
        </select>
    </div>

    <div class="form-group">
        <label for="value">French</label>
        <textarea type="text" name="value" id="value" class="form-control editor">{{ translation.getProperty('value') }}</textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% include 'admin/footer.html.twig' %}
