{% include 'admin/header.html.twig' %}

{% if message != '' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}

{% if error != '' %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<h1>
    {% if user.id > 0 %}
        User {{ user.id }}
    {% else %}
        New User
    {% endif %}
</h1>

{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for field, error in errors %}
                <li>
                    {{ field }} - {{ error.message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post" action="/admin/save-user">
    <input type="hidden" name="id" value="{{ user.getProperty('id') }}">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"
               value="{{ user.getProperty('username') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password"
               value=""
               class="form-control">
    </div>

    <div class="form-group">
        <label for="password2">Repeat Password</label>
        <input type="password" name="password2" id="password2"
               value=""
               class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email"
               value="{{ user.getProperty('email') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="group_id">Group</label>
        <select name="group_id" id="group_id" class="form-control">
            <option value="0">Choose</option>
            <option value="1"{% if user.getProperty('group_id') == 1 %} selected="selected"{% endif %}>
                Admin
            </option>
            <option value="2"{% if user.getProperty('group_id') == 2 %} selected="selected"{% endif %}>
                User
            </option>
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% include 'admin/footer.html.twig' %}
