{% include 'admin/header.html.twig' %}

<div class="admin">
    {% if messages|length > 0 %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <button type="button" id="btnAddUser" class="btn btn-primary">
        <span class="fas fa-plus"></span>
    </button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Username</th>
                <th>Email</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <button type="button" data-href="/admin/delete-user/"
                                data-id="{{ user.getProperty('id') }}"
                                data-toggle="modal" data-target="#confirm-delete"
                                class="btn-light btn-delete">
                            <span class="fas fa-trash-alt"></span>
                        </button>
                        <button type="button" data-id="{{ user.getProperty('id') }}"
                                class="btn-light btn-edit btn-edit-user">
                            <span class="fas fa-edit"></span>
                        </button>
                    </td>
                    <td>
                        {{ user.getProperty('username') }}
                    </td>
                    <td>
                        {{ user.getProperty('email') }}
                    </td>
                    <td>
                        {{ user.group }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                You will delete that User
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

{% include 'admin/footer.html.twig' %}
