{% include 'admin/header.html.twig' %}

<div class="admin">
    {% if error is defined %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {% if success is defined %}
        <div class="alert alert-success">
            The thumbnail was created
        </div>
    {% endif %}

    <h2>
		{{ date|date('Y') }}
	</h2>
	<div class="pagination">
		<div>
			<button class="btn-light btn-navigation-thumbnails"
					data-year="{{ previous_year }}">
				<span class="fa fa-caret-left"></span>
			</button>
			<button class="btn-light btn-navigation-thumbnails"
					data-year="{{ next_year }}">
				<span class="fa fa-caret-right"></span>
			</button>
		</div>
	</div>
	
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-3">Action</th>
                <th class="col-1">Month</th>
                <th class="col-4">Thumbnail</th>
                <th class="col-4">Upload</th>
            </tr>
        </thead>
        <tbody>
            {% for month in 1..12 %}
                {% if month < 10 %}
                    {% set month = '0' ~ month %}
                {% endif %}
                {% set filename = date|date('Y') ~ month %}
                <tr>
                    <td>
                        {% if pending[filename] is defined %}
                            <select id="nbLines_{{ month }}">
                                <option value="0">Select</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <button type="button"
                                    data-year="{{ date|date('Y') }}"
                                    data-month="{{ month }}"
                                    class="btn-light btn-generate-thumbnail"
                                    title="Generate">
                                <span class="fas fa-bolt"></span>
                            </button>
                        {% endif %}
                    </td>
                    <td>{{ date|date('Y') }}-{{ month }}</td>
                    <td>
                        <img src="/images/months/{{ date|date('Y') }}{{ month }}.png" class="month-thumbnail">
                    </td>
                    <td>
                        <form method="post" action="/admin/upload-thumbnail#thumbnail_{{ date|date('Y') }}{{ month }}" enctype="multipart/form-data">
                            <input type="hidden" name="year" value="{{ date|date('Y') }}">
                            <input type="hidden" name="month" value="{{ month }}">
                            <div id="thumbnail_{{ date|date('Y') }}{{ month }}" class="input-group">
                                <input type="file" name="thumbnail" class="form-control">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-light">
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin/footer.html.twig' %}
