{% include 'admin/header.html.twig' %}

{% if message != '' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}

{% if error != '' %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<h1>
    {% if year.id > 0 %}
        Year {{ year.id }}
    {% else %}
        New Year
    {% endif %}
</h1>

{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for field, error in errors %}
                <li>
                    {{ field }} - {{ error.message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form id="yearForm" method="post" action="/admin/save-year">
    <input type="hidden" name="id" value="{{ year.getId() }}">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"
               value="{{ year.getProperty('name') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="directory">Directory</label>
        <input type="text" name="directory" id="directory"
               value="{{ year.getProperty('directory') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="date">Date</label>
        <input type="text" name="date" id="date"
               value="{{ year.getProperty('date') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="cover">Cover</label>
        <input type="text" name="cover" id="cover"
               value="{{ year.getProperty('cover') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="directory">Directory</label>
        <input type="text" name="directory" id="directory"
               value="{{ year.getProperty('directory') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="status">Status</label>
        <select name="status" id="status" class="form-control">
            <option value="0">Choose</option>
            <option value="enabled"{% if year.getProperty('status') == 'enabled' %} selected="selected"{% endif %}>
                Enabled
            </option>
            <option value="disabled"{% if year.getProperty('status') == 'disabled' %} selected="selected"{% endif %}>
                Disabled
            </option>
        </select>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% include 'admin/footer.html.twig' %}
