{% include 'admin/header.html.twig' %}

<div class="admin">
    {% if messages|length > 0 %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <button type="button" id="btnAddYear" class="btn btn-primary">
        <span class="fas fa-plus"></span>
    </button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-2">Action</th>
                <th class="col-1">Year</th>
                <th class="col-1">Directory</th>
                <th class="col-2">Date</th>
                <th class="col-3">Cover</th>
                <th class="col-3">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for year in years %}
                {% set fileParts = year.getProperty('cover')|split('.') %}
                {% set thumb_path = '/photo/' ~ fileParts[0] ~ '/' ~ fileParts[1] ~ '/thumb' %}

                {% if year.getProperty('status') == 'disabled' %}
                    {% set style = ' style=opacity:50%' %}
                {% endif %}
                <tr{{ style }}>
                    <td>
                        <button type="button" data-href="/admin/delete-year/"
                                data-id="{{ year.getProperty('id') }}"
                                data-toggle="modal" data-target="#confirm-delete"
                                class="btn-light btn-delete">
                            <span class="fas fa-trash-alt"></span>
                        </button>
                        <button type="button" data-id="{{ year.getProperty('id') }}"
                                class="btn-light btn-edit btn-edit-year">
                            <span class="fas fa-edit"></span>
                        </button>
                    </td>
                    <td>
                        {{ year.getProperty('name') }}
                    </td>
                    <td>
                        {{ year.getProperty('directory') }}
                    </td>
                    <td>
                        {{ year.getProperty('date') }}
                    </td>
                    <td class="text-center">
                        <img src="{{ thumb_path }}" class="photo"><br>
                        {{ year.getProperty('cover') }}
                    </td>
                    <td>
                        {{ year.getProperty('status') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                You will delete that Tag
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

{% include 'admin/footer.html.twig' %}
