{% set showHelper = true %}
{% include 'admin/header.html.twig' %}

{% if message != '' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}

{% if error != '' %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<h1>
    {% if photo.id > 0 %}
        Photo {{ date|date('Y-m-d') }}

        {% if photo.getProperty('title_fr') == '' %}
            <a href="/admin/photo/{{ photo.id }}/edit/1" class="btn btn-light">
                <i class="fa fa-language" aria-hidden="true"></i>
            </a>
        {% endif %}
    {% else %}
        New Photo
    {% endif %}
</h1>

{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for field, error in errors %}
                <li>
                    {{ field }} - {{ error.message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<script type="text/javascript" src="/js/upload.js"></script>
<link rel="stylesheet" href="/css/upload.css">

<form method="post" action="/admin/save-photo" class="admin">
    <input type="hidden" name="id" value="{{ photo.getProperty('id') }}">
    <input type="hidden" name="year" value="{{ year.getProperty('name') }}">
    <input type="hidden" name="month" value="{{ month }}">
    <input type="hidden" name="tag" id="tag" value="{{ photo_tags|join(',') }}">

    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" name="year_id" id="year_id"
               value="{{ year.getProperty('name') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="filename">Filename</label>
        <input type="text" name="filename" id="filename"
               value="{{ photo.getProperty('filename') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="video">Video</label>
        <input type="text" name="video" id="video"
               value="{{ photo.getProperty('video') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <div id="wrapper">
            <div>
                <img src="/photo/{{ date_str }}/{{ extension }}/thumb"
                     id="preview"
                     alt="{{ photo.getProperty('filename') }}">
            </div>
            <input type="file" name="photo" id="photo">
            <div id="drop-area">
                <h3 class="drop-text">Drag and Drop Images Here</h3>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="title_fr">Title FR</label>
        <!--
        <button type="button" class="btn btn-light btn-translate"
                data-type="title_fr"
                data-text="{{ title_en_stripped }}">
            <i class="fa fa-language" aria-hidden="true"></i>
        </button>
        -->
        <textarea name="title_fr" id="title_fr" class="form-control">{{ photo.getProperty('title_fr') }}</textarea>
    </div>

    <div class="form-group">
        <label for="title_en">Title EN</label>
        <textarea name="title_en" id="title_en" class="form-control">{{ photo.getProperty('title_en') }}</textarea>
    </div>

    <div class="form-group">
        <label for="description_fr">Description FR</label>
        <!--
        <button type="button" class="btn btn-light btn-translate"
                data-type="description_translation"
                data-text="{{ description_en_stripped }}">
            <i class="fa fa-language" aria-hidden="true"></i>
        </button>
        <div>
            <textarea id="description_translation" class="hidden"></textarea>
        </div>
        -->
        <textarea name="description_fr" id="description_fr" class="form-control editor-fr">{{ photo.getProperty('description_fr') }}</textarea>
    </div>

    <div class="form-group">
        <label for="description_en">Description EN</label>
        <textarea name="description_en" id="description_en" class="form-control editor-en">{{ photo.getProperty('description_en') }}</textarea>
    </div>

    <div class="form-group">
        <label for="credits">Credits</label>
        <textarea name="credits" id="credits" class="form-control editor-credits">{{ photo.getProperty('credits') }}</textarea>
    </div>

    <div class="form-group tag-group">
        <label for="month">Tags</label>
        <div class="search-buttons">
            {% for key, tag in tags %}
                <button type="button"
						class="btn btn-search search-tag{% if tag.getId() in photo_tags %} selected{% endif %}"
						data-value="{{ key }}">
                    {{ tag.getProperty('tag') }}
                </button>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label for="status">Status</label>
        <select name="status" id="status" class="form-control">
            <option value="0">Choose</option>
            <option value="enabled"{% if photo.getProperty('status') == 'enabled' %} selected="selected"{% endif %}>
                Enabled
            </option>
            <option value="disabled"{% if photo.getProperty('status') == 'disabled' %} selected="selected"{% endif %}>
                Disabled
            </option>
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% include 'admin/footer.html.twig' %}
