{% include 'admin/header.html.twig' %}

<div class="admin">
    {% if messages|length > 0 %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

	<h2>
		{{ date|date('F Y') }}
	</h2>
	<div class="pagination">
		<div>
			<button class="btn-light btn-navigation-admin"
					data-month="{{ previous_month }}"
					data-year="{{ previous_year }}">
				<span class="fa fa-caret-left"></span>
			</button>
			<button class="btn-light btn-navigation-admin"
					data-month="{{ next_month }}"
					data-year="{{ next_year }}">
				<span class="fa fa-caret-right"></span>
			</button>
		</div>
	</div>
	
    <button type="button" id="btnAddPhoto" class="btn btn-primary"
            data-year="{{ year }}" data-month="{{ month }}">
        <span class="fas fa-plus"></span>
    </button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th>Filename</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for photo in photos %}
                {% set fileParts = photo.getProperty('filename')|split('.') %}
                {% set thumb_path = '/photo/' ~ fileParts[0] ~ '/' ~ fileParts[1] ~ '/thumb' %}
                {% set url = '/day/' ~ fileParts[0] %}
                <tr>
                    <td>
                        <button type="button" data-href="/admin/delete-photo/"
                                data-id="{{ photo.getId() }}"
                                data-toggle="modal" data-target="#confirm-delete"
                                class="btn-light btn-delete">
                            <span class="fas fa-trash-alt"></span>
                        </button>
                        <button type="button" data-id="{{ photo.getId() }}"
                                class="btn-light btn-edit btn-edit-photo">
                            <span class="fas fa-edit"></span>
                        </button>
                        <button type="button" data-id="{{ photo.getId() }}"
                                class="btn-light btn-edit btn-view-comments">
                            <span class="fas fa-comment"></span>
                        </button>

                        {% if photo.getProperty('title_fr') == '' %}
                            <a href="/admin/photo/{{ photo.getId() }}/edit/1" class="btn-light">
                                <i class="fa fa-language"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{{ url }}" target="_blank">
							<img src="{{ thumb_path }}" class="photo"><br>
							{{ photo.getProperty('filename') }}
						</a>
                    </td>
                    <td>
                        {{ photo.getProperty('title_en') }}<br>
                        {% if photo.getProperty('title_fr') != '' %}
                            <img src="/images/fr.png">
                        {% endif %}
                        {% if photo.getProperty('title_en') != '' %}
                            <img src="/images/en.png">
                        {% endif %}
                    </td>
                    <td>
                        <br>
                        {% if photo.getProperty('description_fr') != '' %}
                            <img src="/images/fr.png">
                        {% endif %}
                        {% if photo.getProperty('description_en') != '' %}
                            <img src="/images/en.png">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                You will delete that Photo
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

{% include 'admin/footer.html.twig' %}
