Hi

A new comment was posted on https://apod.vidry.ca.

From {{ username }}
{{ comment.getProperty('comment') }}

You can review it <a href="https://apod.vidry.ca/admin/comments/{{ photo.getId() }}">there</a>.