{% include 'admin/header.html.twig' %}

<div class="admin">
    {% if messages|length > 0 %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

	<h2>
		Backups
	</h2>

	<button class="btn btn-primary btn-create-backup">
		New
	</button>
	
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>
                        <button type="button" data-href="/admin/delete-backup"
                                data-date="{{ item.date|date('Ymd_His') }}"
                                data-toggle="modal" data-target="#confirm-delete"
                                class="btn-light btn-delete-backup">
                            <span class="fas fa-trash-alt"></span>
                        </button>
                    </td>
                    <td>
                        <a href="/admin/backup/{{ item.date|date('Ymd_His') }}/download" target="_blank">
							{{ item.date|date('Y-m-d H:i:s') }}
						</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="confirm-delete-bkp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                You will delete that Backup
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

{% include 'admin/footer.html.twig' %}
