{% include 'admin/header.html.twig' %}

{% if message != '' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}

{% if error != '' %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<h1>
    {% if tag.id > 0 %}
        Tag {{ tag.id }}
    {% else %}
        New Tag
    {% endif %}
</h1>

{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for field, error in errors %}
                <li>
                    {{ field }} - {{ error.message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post" action="/admin/save-tag">
    <input type="hidden" name="id" value="{{ tag.getId() }}">

    <div class="form-group">
        <label for="tag_en">English</label>
        <input type="text" name="tag_en" id="tag_en"
               value="{{ tag.getProperty('tag_en') }}"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="tag_fr">French</label>
        <input type="text" name="tag_fr" id="tag_fr"
               value="{{ tag.getProperty('tag_fr') }}"
               class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% include 'admin/footer.html.twig' %}
