{% include 'admin/header.html.twig' %}

<div class="admin">
    {% if messages|length > 0 %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <button type="button" id="btnAddTag" class="btn btn-primary">
        <span class="fas fa-plus"></span>
    </button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-2">Action</th>
                <th class="col-4">English</th>
                <th class="col-4">French</th>
                <th class="col-2">Nb Photos</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
                <tr>
                    <td>
                        <button type="button" data-href="/admin/delete-tag/"
                                data-id="{{ tag.getProperty('id') }}"
                                data-toggle="modal" data-target="#confirm-delete"
                                class="btn-light btn-delete">
                            <span class="fas fa-trash-alt"></span>
                        </button>
                        <button type="button" data-id="{{ tag.getProperty('id') }}"
                                class="btn-light btn-edit btn-edit-tag">
                            <span class="fas fa-edit"></span>
                        </button>
                        <button type="button" data-id="{{ tag.getProperty('id') }}"
                                title="Populate"
                                class="btn-light btn-edit btn-populate-tag">
                            <span class="fas fa-fill"></span>
                        </button>
                    </td>
                    <td>
                        {{ tag.getProperty('tag_en') }}
                    </td>
                    <td>
                        {{ tag.getProperty('tag_fr') }}
                    </td>
                    <td>
                        {{ photos_by_tag[tag.getId()]|number_format() }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                You will delete that Tag
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

{% include 'admin/footer.html.twig' %}
